@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  display: inline-block
  font-size: f.px(48)
  text-transform: uppercase
  font-weight: 350
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    font-size: f.px(32)
    @include m.gap($mb: f.px(20))

.cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: f.px(30)
  padding-left: 0
  @include m.gap($mb: f.px(20), $mt: 0)

.card
  border-radius: f.px(30)
  border-top: f.px(1) solid c.$purple-800
  @include m.gap($pt: f.px(18), $plr: f.px(10))
  list-style: none

.disabled
  opacity: 0.5
  pointer-events: none

.img
  border-top-left-radius: f.px(30)
  border-top-right-radius: f.px(30)

.list
  @include m.gap($pl: 0, $mt: f.px(15))

.item
  position: relative
  @include m.flex($ai: center, $jc: space-between)
  padding-bottom: f.px(20)
  &:not(:last-child)::after
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: f.px(10)
    display: block
    height: f.px(1)
    background-color: c.$purple-800

.bold
  font-weight: 500 !important

.category
  font-size: f.px(15)
  font-weight: 350
  @include m.media(laptop)
    font-size: f.px(14)

.value
  font-size: f.px(22)
  font-weight: 350
  text-transform: uppercase
  @include m.media(laptop)
    font-size: f.px(17)
  @include m.media(phone, tablet)
    font-size: f.px(18)
