@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$white-900)
  @include m.gap($mb: 0, $ptb: f.px(40))
  border-radius: f.px(30)
  @include m.media(phone, tablet)
    @include m.gap($mb: 0, $ptb: f.px(25), $plr: f.px(15))
    border-radius: f.px(20)

.title
  font-size: f.px(42)
  font-weight: 500

.cards
  display: grid
  grid-template-columns: repeat(3, auto)
  gap: f.px(30)

.card
  @include m.dye(bg, c.$pink-50)
  border-radius: f.px(10)
  min-height: f.px(240)
  @include m.gap($ptb: f.px(30), $plr: f.px(20), $mb: f.px(10))
  &:nth-child(2)
    text-align: center
    background: none

.cardTitle
  display: block
  @include m.dye(c, c.$purple-800)
  font-size: f.px(40)
  font-weight: 450

.cardDescription
  font-size: f.px(18)
  font-weight: 350