@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$white-900)
  @include m.gap($ptb: f.px(40), $plr: f.px(20))
  border: f.px(1) solid c.$purple-350
  border-radius: f.px(14)
  @include m.media(phone, tablet)
    border-radius: f.px(4)

.title
  display: inline-block
  font-size: f.px(44)
  font-style: normal
  text-transform: uppercase
  font-weight: 500
  @include m.media(laptop)
  max-width: f.px(570)
  @include m.gap($mb: f.px(25))
  @include m.media(phone, tablet)
    font-size: f.px(25)
    @include m.gap($mb: f.px(10))

.colouredTitle
  @include m.dye(c, c.$orange-700)

.header
  @include m.flex($jc: space-between)
  @include m.media(phone, tablet)
    @include m.flex($fd: column)

.contact
  @include m.dye(c, c.$gray-800)
  text-align: right
  font-size: f.px(16)
  font-weight: 350
  max-width: f.px(330)
  @include m.media(phone, tablet)
    font-size: f.px(12)
    max-width: f.px(230)
    text-align: left

.bold
  font-weight: 500
  @include m.media(phone, tablet)
    font-size: f.px(10)

