@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container


.title
  display: inline-block
  font-size: f.px(46)
  font-style: normal
  text-transform: uppercase
  font-weight: 350
  max-width: f.px(800)
  @include m.gap($mb: f.px(40))
  @include m.media(phone, tablet)
    font-size: f.px(32)
    @include m.gap($mb: f.px(20))

.subTitle, .salary
  @include m.gap($mb: f.px(0))
  font-weight: 500
  @include m.dye(c, c.$black-900)


.subTitle
  text-transform: uppercase
  font-size: f.px(20)
  @include m.media(phone, tablet)
    font-size: f.px(18)

.salary
  font-size: f.px(48)
  @include m.media(phone, tablet)
    font-size: f.px(28)

.blocks
  @include m.flex()
  gap: f.px(30)
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
    gap: f.px(10)

.content
  overflow: hidden

.column
  width: f.px(370)
  height: f.px(200)
  border-top-right-radius: f.px(120)
  @include m.gap($p: f.px(30))
  @include m.flex($fd: column, $jc: space-between)
  &:nth-of-type(2)
    .salary, .subTitle
      @include m.dye(c, c.$white-900)
  @include m.media(phone, tablet)
    width: 100%
    height: f.px(181)

.block1
  @include m.dye(bg, c.$purple-100)


.block2
  @include m.dye(bg, c.$orange-700)

.block3
  @include m.dye(bg, c.$white-900)

.coloredTitle
  @include m.dye(c, c.$orange-700)

