.container
  display: flex
  flex-direction: column
  align-items: flex-start
  font-family: 'Arial', sans-serif
  margin-top: 20px

.text
  color: #430078
  font-family: Stem
  font-size: 35px
  font-style: normal
  font-weight: 500
  line-height: 115%

.violetTitle
  color: #855EDF


.imageContainer
  display: flex
  align-items: center

.giftBox
  margin-right: 10px

.star
  margin-left: 10px
  display: flex
  align-items: center
  justify-content: center
