@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  background: #FFF
  font-size: f.px(20)

  @include m.gap($plr: f.px(55), $ptb: f.px(30))
  border: 1px solid
  @include m.dye(border, c.$purple-800)
  border-radius: f.px(10)
  @include m.media(laptop, desktop)
      width: 65vw
      max-width: f.px(1000)
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($plr: f.px(30), $pb: f.px(30), $pt: f.px(20))
  button
    @include m.dye(c, c.$purple-800)
    // float: right
    display: flex
    width: 100%
    justify-content: flex-end
    @include m.gap($mb: f.px(30))
    align-items: baseline
    @include m.media(laptop, desktop)
      display: none
