// Media Query Mixins
@mixin mediaSm
  @media only screen and (max-width: 500px)
    @content

@mixin mediaMd
  @media only screen and (min-width: 768px)
    @content

@mixin mediaLg
  @media only screen and (min-width: 769px) and (max-width: 1170px)
    @content

@mixin mediaXl
  @media only screen and (min-width: 1171px)
    @content

// @mixin orientPort {
//   @media only screen and (orientation: portrait) {
//     @content;
//   }
// }

@mixin orientLand
  @media only screen and (orientation: landscape)
    @content
// /Media Query Mixins

// Other mixin
@mixin easeOut
  transition: all 0.4s ease-in-out
// /Other mixin

// Animations mixins
@mixin fadeIn($delay)
  $delay: $delay - 0.5

  @if $delay < 0
    $delay: 0
  @else
    $delay: unquote($delay + 's')

  @supports (animation-fill-mode: forwards)
    opacity: 0
    animation-name: fadeIn
    animation-duration: 0.2s
    animation-delay: $delay
    animation-timing-function: ease-in
    animation-fill-mode: forwards

@mixin slideRight($delay)
  $delay: $delay - 0.7

  @if $delay < 0
    $delay: 0
  @else
    $delay: unquote($delay + 's')

  @supports (animation-fill-mode: forwards)
    transform: translateX(-100%)
    animation-name: slideRight
    animation-duration: 1s
    animation-delay: $delay
    animation-timing-function: ease-out
    animation-fill-mode: forwards

@mixin rotateNBack($delay)
  $delay: $delay - 0.7

  @if $delay < 0
    $delay: 0
  @else
    $delay: unquote($delay + 's')

  @supports (animation-fill-mode: forwards)
    animation-name: rotateNBack
    animation-duration: 0.6s
    animation-delay: $delay
    animation-timing-function: ease-in
// /Animations mixins
