@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  height: 235px
  @include m.media(phone, tablet)
    height: fit-content
    border: none
  border: 3px solid #B250FF
  margin-top: 30px
  border-radius: 0 0 100px 0
  

.text
  display: flex
  @include m.media(laptop, desktop)
    
    justify-content: space-around
    align-items: baseline
    height: 100%
    @include m.gap($mt: f.px(40))
  @include m.media(phone, tablet)
    // display: inline
    // flex-direction: column
    // height: fit-content
    // justify-content: space-evenly
    flex-wrap: wrap
    
.one
  display: flex
  flex-direction: column
  @include m.media(phone, tablet)
    align-items: center
    &:nth-child(odd)
      @include m.gap($pr: f.px(9))
    &:nth-child(even)
      @include m.gap($pl: f.px(8))
    width: 50%
    & h1
      font-size: 18px
      // display: none
    & p
      font-size: 14px
      font-weight: 350
  @include m.media(laptop, desktop)
    width: 20%
    & h1
      font-size: 22px
    & p
      font-size: 18px

.phoneNumber
  color: black
  text-decoration: underline
  text-decoration-skip-ink: auto
  text-underline-offset: 4px