@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  height: 235px
  @include m.media(phone, tablet)
    height: fit-content
    border: none
  border: 3px solid c.$alpha
  margin-top: 30px
  border-radius: 0 0 100px 0
  

.text
  display: flex
  @include m.media(laptop, desktop)
    justify-content: space-around
    align-items: baseline
    height: 100%
    @include m.gap($mt: f.px(40))
  @include m.media(phone, tablet)
    flex-direction: column
    align-items: center
    width: 100%
    
    
    
.one
  display: flex
  flex-direction: column
  & a 
      font-size: 16px
      line-height: 21.6px
  @include m.media(phone, tablet)
    border-radius: f.px(20)
    margin: 10px
    @include m.gap($plr: f.px(20), $ptb: f.px(20))
    align-items: center
    border: 1px solid #6F01C6
    width: 80%
    background: #FFF

    & h1
      font-size: 18px
    & p
      font-size: 14px
      font-weight: 350
    & a 
      font-size: 14px
  @include m.media(laptop, desktop)
    width: 25%
    & h1
      font-size: 22px
    & p
      font-size: 18px
      line-height: 21.6px
    

.phoneNumber
  color: black
  text-decoration: underline
  text-decoration-skip-ink: auto
  text-underline-offset: 4px
  font-size: 18px