@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex($jc: space-between, $fw: wrap)
  border: f.px(1) solid #E8E8E8
  margin: 0
  padding: 0
  @include m.media(laptop, desktop)
    padding-left: 2.8%
    padding-right: 2.8%
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  border-radius: f.px(20)
  @include m.dye(bg, c.$white-900)
  @include m.media(phone, tablet)
    box-shadow: none
    border: none

.item
  position: relative
  display: flex
  &:last-child
    @include m.media(phone, tablet)
      display: none
  @include m.media(phone, tablet)
    flex-basis: 50%
    @include m.gap($plr: f.px(15), $ptb: f.px(14))
    &:nth-of-type(3)
      .key
        font-size: 0.0001px
        &::after
          font-size: f.px(15)
          display: block
          content: 'Зачислениe:'
          @include m.gap($ptb: f.px(8))
    &:nth-of-type(1), &:nth-of-type(2)
      @include m.gap($pt: f.px(28))

    @include m.dye(border, rgba(c.$black-800, .1))
  @include m.media(laptop)
    flex-basis: 18%
  @include m.media(desktop)
    flex-basis: 20%
  @include m.media(laptop, desktop)
    flex-direction: column
    padding-top: f.px(33)
    padding-bottom: f.px(28)
    padding-right: 2.4%
    & + .item
      padding-left: 2.4%
      border-left: f.px(1) solid
      @include m.dye(border, rgba(c.$black-800, .1))

.icon
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    max-width: f.px(24)
    margin-bottom: f.px(12)

.key
  max-width: 18ch
  margin-bottom: f.px(10)
  @include m.media(phone, tablet)
    color: black !important
    font-size: f.px(15)
    font-weight: 300
    line-height: 120%
  @include m.media(laptop, desktop)
    font-size: f.px(14)
  font-weight: 500
  @include m.dye(c, c.$gray-700)

.val
  max-width: 12ch
  @include m.gap($mb: 0)
  @include m.media(laptop, desktop)
    font-size: f.px(18)
  font-weight: 500

.anotherIcon
  position: absolute
  top: 19px
  right: 0

.licenseInfo
  border-radius: 15px
  background: white
  position: absolute
  transform: translateY(-180%)
  right: 0
  max-width: 250px
  padding: f.px(20)
  font-size: 15px
  color: #808080
  font-weight: 500
  span
    @include m.dye(c, c.$purple-800)
