@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.content
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(28))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(36))

.label
  font-weight: 200
  line-height: 120%
  @include m.media(phone, tablet)
    max-width: 75%
    @include m.gap($mb: f.px(9))
    font-size: f.px(16)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(3))
    font-size: f.px(18)

.discount
  @include m.media(phone, tablet)
    @include m.gap($mr: f.px(16))
    font-size: f.px(32)
    line-height: 110%
  @include m.media(laptop)
    display: block
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(23))
    font-size: f.px(60)
    font-weight: 500
    line-height: f.px(77)

.regular
  position: relative
  @include m.media(phone, tablet)
    font-size: f.px(24)
    line-height: f.px(32)
  @include m.media(laptop, desktop)
    font-size: f.px(30)
    line-height: f.px(39)
  @include m.dye(c, c.$psi)
  &::after
    content: ''
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%) rotate(-10deg)
    width: 100%
    height: f.px(1)
    @include m.dye(bg, c.$psi)

.bold
  font-weight: 500

.light
  font-weight: 300
