
@font-face
  font-family: 'Geometria-bold'
  src: local('Geometria Bold'), local('Geometria-Bold'), url(../fonts/geometria-bold.ttf) format('truetype')
  font-display: swap

@font-face
  font-family: 'TT-Firs-neue'
  src: local('TT-Firs-neue'), local('TT Firs neue'), url(../fonts/TTFirsNeue-Regular.ttf) format('truetype')
  font-display: swap

// Stem
@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Hairline.otf) format('opentype')
  font-weight: 100
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Thin.otf) format('opentype')
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-ExtraLight.otf) format('opentype')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-ExtraLightItalic.otf) format('opentype')
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Light.otf) format('opentype')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-LightItalic.otf) format('opentype')
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Regular.otf) format('opentype')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Italic.otf) format('opentype')
  font-weight: 500
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Medium.otf) format('opentype')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-MediumItalic.otf) format('opentype')
  font-weight: 600
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Bold.otf) format('opentype')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-BoldItalic.otf) format('opentype')
  font-weight: 700
  font-style: italic
  font-display: swap

// 100 Hairline
// 200 Thin
// 300 Extra Light
// 400 Light
// 500 Regular
// 600 Medium
// 700 Bold
body
  font-family: Stem, sans-serif
  font-style: normal
  font-weight: 500
  font-size: $root-fs
  line-height: 120%

.typo-alpha
  font-family: 'Geometria-bold', sans-serif
  font-size: px(11)
  line-height: px(14)

.typo-beta
  font-weight: 300
  font-size: px(22)
  line-height: 120%

.typo-gamma
  font-weight: 600
  font-size: px(21)
  line-height: px(27)

.typo-delta
  font-weight: 500
  font-size: px(13)
  line-height: 120%

.typo-epsilon
  font-weight: 600
  font-size: px(42)
  line-height: 110%

.typo-zeta
  font-weight: 300
  font-size: px(15)
  line-height: 120%

.typo-eta
  font-weight: 600
  font-size: px(26)
  line-height: 120%

.typo-theta
  font-weight: 600
  font-size: px(20)
  line-height: 120%

.typo-iota
  font-weight: 300
  font-size: px(18)
  line-height: 130%

.typo-kappa
  font-weight: 600
  font-size: px(19)
  line-height: 130%

.typo-lambda
  font-family: 'TT-Firs-neue', sans-serif
  font-weight: 500
  font-size: px(24)
  line-height: 120%

.typo-mu
  font-weight: 500
  font-size: px(14)
  line-height: 120%

.typo-nu
  font-weight: 500
  font-size: px(24)
  line-height: 120%

.typo-xi
  font-weight: 500
  font-size: px(15)
  line-height: 120%

.typo-omicron
  font-weight: 500
  font-size: px(11)
  line-height: 120%

.typo-pi
  font-weight: 500
  font-size: px(18)
  line-height: px(23)

.typo-rho
  font-weight: 600
  font-size: px(16)
  line-height: 130%

.typo-sigma
  font-weight: 600
  font-size: px(22)
  line-height: 120%

.typo-tau
  font-weight: 600
  font-size: px(18)
  line-height: 130%

.typo-upsilon
  font-weight: 300
  font-size: px(16)
  line-height: 120%

.typo-phi

.typo-chi

.typo-psi

.typo-omega

@include mediaMd
  .typo-alpha

  .typo-beta

  .typo-gamma

  .typo-delta

  .typo-epsilon
    font-size: px(64)

  .typo-zeta
    font-size: px(18)
    line-height: 130%

  .typo-zeta--bigger
    font-size: px(20)

  .typo-eta
    font-size: px(44)

  .typo-theta
    font-size: px(28)

  .typoe-theta--smaller
    font-size: px(22)

  .typo-iota
    font-size: px(20)

  .typo-iota--smaller
    font-size: px(18)

  .typo-kappa
    font-size: px(25)

  .typo-lambda
    font-size: px(48)

  .typo-mu
    font-size: px(18)

  .typo-nu
    font-size: px(36)

  .typo-xi
    font-size: px(18)

  .typo-omicron
    font-size: px(13)

  .typo-pi

  .typo-rho
    font-size: px(20)

  .typo-sigma

  .typo-tau
    font-size: px(18)

  .typo-upsilon

  .typo-phi

  .typo-chi

  .typo-psi

  .typo-omega
