
@font-face
  font-family: 'Geometria-bold'
  src: local('Geometria Bold'), local('Geometria-Bold'), url(../fonts/geometria-bold.ttf) format('truetype')
  font-display: swap

@font-face
  font-family: 'TT-Firs-neue'
  src: local('TT-Firs-neue'), local('TT Firs neue'), url(../fonts/TTFirsNeue-Regular.ttf) format('truetype')
  font-display: swap

// Stem
@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Hairline.otf) format('opentype')
  font-weight: 100
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Thin.otf) format('opentype')
  font-weight: 200
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-ExtraLight.otf) format('opentype')
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-ExtraLightItalic.otf) format('opentype')
  font-weight: 300
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Light.otf) format('opentype')
  font-weight: 400
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-LightItalic.otf) format('opentype')
  font-weight: 400
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Regular.otf) format('opentype')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Italic.otf) format('opentype')
  font-weight: 500
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Medium.otf) format('opentype')
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-MediumItalic.otf) format('opentype')
  font-weight: 600
  font-style: italic
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-Bold.otf) format('opentype')
  font-weight: 700
  font-style: normal
  font-display: swap

@font-face
  font-family: Stem
  src: local('Stem'), url(../fonts/stem/Stem-BoldItalic.otf) format('opentype')
  font-weight: 700
  font-style: italic
  font-display: swap

// 100 Hairline
// 200 Thin
// 300 Extra Light
// 400 Light
// 500 Regular
// 600 Medium
// 700 Bold
body
  font-family: Stem, sans-serif
  font-style: normal
  font-weight: 500
  font-size: 16px
  line-height: 120%

.typo-alpha
  font-family: 'Geometria-bold', sans-serif
  font-size: 0.7rem // 11px
  line-height: 0.9rem // 14px

.typo-beta
  font-weight: 300
  font-size: 1.375rem // 22px
  line-height: 120%

.typo-gamma
  font-weight: 600
  font-size: 1.3125rem // 21px
  line-height: 1.6875rem // 27px

.typo-delta
  font-weight: 500
  font-size: 0.8125rem // 13px
  line-height: 120%

.typo-epsilon
  font-weight: 600
  font-size: 2.625rem // 42px
  line-height: 110%

.typo-zeta
  font-weight: 300
  font-size: 0.9375rem // 15px
  line-height: 120%

.typo-eta
  font-weight: 600
  font-size: 1.625rem // 26px
  line-height: 120%

.typo-theta
  font-weight: 600
  font-size: 1.25rem // 20px
  line-height: 120%

.typo-iota
  font-weight: 300
  font-size: 1.125rem // 18px
  line-height: 130%

.typo-kappa
  font-weight: 600
  font-size: 1.1875rem // 19px
  line-height: 130%

.typo-lambda
  font-family: 'TT-Firs-neue', sans-serif
  font-weight: 500
  font-size: 1.5rem // 24px
  line-height: 120%

.typo-mu
  font-weight: 500
  font-size: 0.875rem // 14px
  line-height: 120%

.typo-nu
  font-weight: 500
  font-size: 1.5rem // 24px
  line-height: 120%

.typo-xi
  font-weight: 500
  font-size: 0.9375rem // 15px
  line-height: 120%

.typo-omicron
  font-weight: 500
  font-size: 0.6875rem // 11px
  line-height: 120%

.typo-pi
  font-weight: 500
  font-size: 1.125rem // 18px
  line-height: 1.4375rem // 23px

.typo-rho
  font-weight: 600
  font-size: 1rem // 16px
  line-height: 130%

.typo-sigma
  font-weight: 600
  font-size: 1.375rem // 22px
  line-height: 120%

.typo-tau
  font-weight: 600
  font-size: 1.125rem // 18px
  line-height: 130%

.typo-upsilon
  font-weight: 300
  font-size: 1rem // 16px
  line-height: 120%

.typo-phi

.typo-chi

.typo-psi

.typo-omega

@include mediaMd
  .typo-alpha

  .typo-beta

  .typo-gamma

  .typo-delta

  .typo-epsilon
    font-size: 4rem // 64px

  .typo-zeta
    font-size: 1.125rem // 18px
    line-height: 130%

  .typo-zeta--bigger
    font-size: 1.25rem //20 px

  .typo-eta
    font-size: 2.75rem // 44px

  .typo-theta
    font-size: 1.75rem // 28px

  .typoe-theta--smaller
    font-size: 1.375rem // 22px

  .typo-iota
    font-size: 1.25rem // 20px

  .typo-iota--smaller
    font-size: 1.125rem // 18px

  .typo-kappa
    font-size: 1.5625rem // 25px

  .typo-lambda
    font-size: 3rem // 48px

  .typo-mu
    font-size: 1.125rem // 18px

  .typo-nu
    font-size: 2.25rem // 36px

  .typo-xi
    font-size: 1.125rem // 18px

  .typo-omicron
    font-size: 0.8125rem // 13px

  .typo-pi

  .typo-rho
    font-size: 1.25rem // 20px

  .typo-sigma

  .typo-tau
    font-size: 1.125rem // 18px

  .typo-upsilon

  .typo-phi

  .typo-chi

  .typo-psi

  .typo-omega
