.container
  // padding: 0.9375rem 0
  // width: 90%
  // margin: 0 auto

.mobile-only
  display: block

.desktop-only
  display: none

@include mediaMd
  .mobile-only
    display: none

  .desktop-only
    display: block
