.hidden
  &:not(.mob-menu-screen)
    display: none
  &.mob-menu-screen
    transform: translateX(100%)

.desktop-only
  display: none

@include mediaMd
  .mobile-only
    display: none

  .desktop-only
    display: block
