.section-programs {
  padding-bottom: 4rem;
  & .title {
    margin-top: 0;
    margin-bottom: 0.625rem;
  }
  & .program__headings {
    margin-bottom: 1.25rem;
  }
  & .headings__title {
    margin-top: 0;
    margin-bottom: 0.3125rem;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 120%;
  }
  & .headings__subtitle {
    margin: 0;
    font-weight: 200;
    font-size: 0.9375rem;
    line-height: 120%;
  }
  & .content__program-cards {
    margin-bottom: 1.875rem;
  }
  & .program-cards__program-card {
    padding: 1.25rem 0.9rem;
    box-shadow: 0 0.25rem 2.5rem rgba(0, 0, 0, 0.05);
    border-radius: 0.625rem;
    background-color: #fff;
  }
  & .program-card__card-body {
    display: flex;
  }
  & .card-body__img {
    border-radius: 0.3125rem;
  }
  & .card-body__card-content {
    width: 100%;
    margin-left: 1.1rem;
    position: relative;
  }
  & .card-content__info {
    display: flex;
    justify-content: space-between;
  }
  & .info__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 1.0625rem;
    border-radius: 1.4375rem;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 120%;
    background-color: $c-mu;
    color: $c-kappa;
  }
  & .info__dur {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 120%;
    color: $c-theta;
  }
  & .card-content__title {
    margin: 0;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 120%;
  }
}
