.section-header {
  padding-top: 1.3125rem;
  background-color: $c-alpha;
  color: set-text-color($c-alpha);

  .content__title {
    font-weight: 500;
    font-size: 2.625rem;
    line-height: 110%;
  }

  .content__subtitle {
    font-weight: 200;
    font-size: 0.9375rem;
    line-height: 120%;
  }

  & .content__title {
    // @include fadeIn(0.5);
  }
  & .content__subtitle {
    // @include fadeIn(0.7);
  }
  & .discount__circle {
    // @include fadeIn(0.9);
  }
  & .discount__text-container {
    // @include slideRight(0.7);
  }
  & .text-container__text {
    // @include fadeIn(0.9);
  }
  & .select-wrapper {
    // @include fadeIn(1.1);
  }
  & .form-main {
    & input.form-main__field {
      // @include fadeIn(1.3);
    }
  }
  & .form-main__submit {
    // @include fadeIn(1.5);
  }
}

// Section header content
.section-header__content {
  padding-top: 1.6875rem;
  padding-bottom: 8.4rem;
  position: relative;
  z-index: 2;
}

.content__title {
  margin-top: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}

.content__subtitle {
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 120%;
}

.img-person-working {
  width: 100%;
  min-height: 14.8125rem;
  background-image: url(/img/person-working.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.125rem 0 0 0.1875rem;
}

// /Section header content
