@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container

.title
  font-size: f.px(44)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.gap($mb: f.px(35))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15), $ml: f.px(0), $mr: f.px(20))
    font-size: f.px(30)

.colouredTitle
  @include m.dye(c, c.$orange-700)

.list
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: f.px(16)
  width: 100%
  @include m.media(phone, tablet)
    grid-template-columns: repeat(1, 1fr)
    gap: f.px(5)

.element
  border-radius: f.px(10)
  border: f.px(0.5) solid
  @include m.dye(border, c.$purple-350)
  @include m.dye(bg, c.$white-900)
  min-height: f.px(123)
  @include m.gap($ptb: f.px(23), $pl: f.px(27), $pr: f.px(30))
  @include m.flex($ai: center)
  gap: f.px(22)
  position: relative
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(15), $pl: f.px(70))
    width: 100%
    min-height: f.px(123)
    @include m.flex($ai: center, $jc: flex-start)
  & > p
    margin-bottom: 0

.icon
  min-width: f.px(20)
  min-height: f.px(20)
  @include m.media(phone, tablet)
    position: absolute
    top: f.px(26)
    left: f.px(19)

.firstWord
  font-weight: 500

.text
  font-size: f.px(20)
  font-style: normal
  font-weight: 350
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    width: auto
