@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(laptop, desktop)
    @include m.gap($pt: f.px(90), $pb: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(35), $pb: f.px(0))

.title
  display: inline-block
  font-weight: 500
  text-align: center
  @include m.dye(c, c.$black-800)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(35), $mlr: f.px(150))
    font-size: f.px(44)
  @include m.media(tablet)
    @include m.gap($mb: f.px(20))
    font-size: f.px(32)
    text-align: left
  @include m.media(phone)
    text-align: left
    @include m.gap($mb: f.px(20))
    font-size: f.px(28)
    max-width: f.px(350)

.colouredTitle
  @include m.dye(c, c.$orange-700)

.finger
  z-index: 2
  position: absolute
  @include m.flex($ai: center, $jc: center)
  @include m.dye(stroke, c.$orange-700)
  @include m.dye(bg, c.$white-900)
  border: f.px(1) solid c.$orange-700
  width: f.px(80)
  height: f.px(80)
  border-radius: 50%
  animation: 3s infinite normal slideDesktop
  @include m.media(laptop)
    animation: 3s infinite normal slideLaptop
  @include m.media(tablet)
    animation: 3s infinite normal slideTablet
    width: f.px(60)
    height: f.px(60)
  @include m.media(phone)
    animation: 3s infinite normal slidePhone
    width: f.px(60)
    height: f.px(60)

@keyframes slidePhone
  0%
    transform: translate(f.px(250), f.px(-50))
  50%
    transform: translate(f.px(200), f.px(-50))
  100%
    transform: translate(f.px(250), f.px(-50))

@keyframes slideTablet
  0%
    transform: translate(f.px(300), f.px(-40))
  50%
    transform: translate(f.px(250), f.px(-40))
  100%
    transform: translate(f.px(300), f.px(-40))

@keyframes slideLaptop
  0%
    transform: translate(f.px(540), f.px(-50))
  50%
    transform: translate(f.px(500), f.px(-50))
  100%
    transform: translate(f.px(540), f.px(-50))

@keyframes slideDesktop
  0%
    transform: translate(f.px(675), f.px(-60))
  50%
    transform: translate(f.px(640), f.px(-60))
  100%
    transform: translate(f.px(675), f.px(-60))
