@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  background: #FBF4FF
  
  display: flex
  @include m.media(laptop, desktop)
    height: 650px
  @include m.media(phone, tablet)
    flex-direction: column

.left
  @include m.media(phone, tablet)
    // @include m.gap($mt: f.px(38))
    @include m.gap($pb: f.px(18))
    padding: 1em
  @include m.media(desktop)
    position: relative
    @include m.gap($pt: f.px(76))
    padding-left: 9em
    padding-right: 2em
  @include m.media(laptop)
    position: relative
    // @include m.gap($pt: f.px(76))
    padding-left: 9em
    padding-right: 4em
  height: 650px
  flex: 58%
  // flex-shrink: 1

.ornament
  @include m.media(laptop, desktop)
    // flex-shrink: 1
    justify-content: flex-end


.chooseContainer
  position: relative
  p
    font-family: Stem
    font-weight: 350
    font-size: 18px
    background-color: white
    @include m.media(desktop)
      @include m.gap($pt: f.px(26))
      @include m.gap($pb: f.px(26))
    @include m.media(laptop)
      @include m.gap($pt: f.px(6))
      @include m.gap($pb: f.px(6))
    @include m.media(phone, tablet)
      @include m.gap($pt: f.px(16))
      @include m.gap($pb: f.px(16))
    margin-top: 30px
    align-self: center
    padding-left: 2em
    padding-right: 1em
    span
      position: absolute
      padding-left: 0.3em
      width: 20px
      height: 20px
      left: 0
  h1
    font-family: Stem
    font-weight: 500
    font-size: 44px
    @include m.gap($pb: f.px(1))

.first
  border-radius: 20px 20px 0 20px 
  @include m.media( desktop)
    position: absolute
    top: f.px(120)
    left: f.px(10)

.second
  border-radius: 20px 20px 20px 0
  @include m.media( desktop)
    position: absolute
    top: f.px(230)
    left: f.px(140)
    margin-right: 2em

.third
  border-radius: 20px 20px 0 20px 
  @include m.media( desktop)
    position: absolute
    top: f.px(390)
    left: f.px(50)
  
.dotIcon
  @include m.media( desktop)
    position: absolute
    top: f.px(478)
    left: f.px(435)
  @include m.media(laptop,phone, tablet)
    display: flex
    justify-content: flex-end