@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  background: white
  padding-bottom: f.px(1)
  border-radius: f.px(20)
  padding: f.px(15)