@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  position: relative
  margin: 0 auto
  padding: 2em
  @include m.media( desktop)
    width: f.px(400)
    height: fit-content
    margin-left: 10em
  @include m.media(laptop)
    width: f.px(400)
    height: fit-content
  @include m.media(phone, tablet)
    width: f.px(300)
    padding-bottom: 1em
    margin-bottom: 3em

.figure
  position: absolute
  @include m.media(laptop, desktop)
    width: 50px
    height: 50px
    top: 2em
    right: 2em
  @include m.media(phone, tablet)
    width: 35px
    height: 35px
    top: 2em
    right: 2em
  @include m.dye(bg, c.$orange-700)

  border-radius: 30px 0 30px 30px

.shadow
  position: absolute
  width: f.px(60)
  height: f.px(60)
  @include m.dye(bg, c.$orange-700)
  @include m.media(laptop, desktop)
    bottom: -10em
    right: -10em
  @include m.media(phone, tablet)
    bottom: -4em
    right: -8em
  width: f.px(200)
  height: f.px(200)
  @include m.dye(bg, c.$purple-400)
  border-radius: 50%
  transform: translate(-50%, -50%)
  box-shadow: 0 0 80px 80px c.$purple-400
  overflow: hidden
  opacity: 0.34
  z-index: 1

.lady
  z-index: 2

.spiralContainer
  z-index: 2
  position: absolute
  @include m.media(laptop, desktop)
    top: -2em
    left: -3em
  @include m.media(phone, tablet)
    top: 0.5em
    left: 1em

.round
  z-index: 1
  height: f.px(40)
  width: f.px(40)
  border-radius: 50%
  position: absolute
  @include m.media(laptop, desktop)
    bottom: 0
    left: 3em
  @include m.media(phone, tablet)
    bottom: 0.2em
  @include m.dye(bg, c.$orange-700)

.smallSpiral
  z-index: 1
  position: absolute
  right: 1em
