@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.bg
  width: 100%
  @include m.dye(bg, c.$purple-800)
  @include m.flex($jc: space-between)
  @include m.media(laptop, desktop)
    height: 100%
  @include m.media(phone, tablet)
    height: 100%
    flex-direction: column

.infoContainer
  flex: 50%

.photoContainer
  flex: 40%
  @include m.flex($ai: flex-start)
  @include m.media(laptop, desktop)
    padding-top: 2em
  @include m.media(phone, tablet)
  padding-top: 0em

.fon
  @include m.dye(bg, c.$purple-800)
