@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  position: relative
  display: inline-block
  @include m.media(phone, tablet)
    min-width: 100%
    max-width: 100%
  @include m.gap($ptb: f.px(16, em), $plr: f.px(50, em))
  border-radius: f.px(4, em)
  border: f.px(2) solid
  @include m.dye(border, c.$nu)
  @include m.dye(c, c.$nu)
  &:hover
    transform: scale(1.02)
  &:focus
    transform: scale(0.98)
