@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.linkPrograms
  @include m.dye(bg, white)
  font-family: Stem
  font-size: f.px(16)
  font-style: normal
  font-weight: 350
  @include m.media(desktop, laptop)
    cursor: pointer
    border: f.px(0.5) solid
    @include m.dye(border, c.$alpha)
    border-radius: f.px(10)
    @include m.flex($ai: center, $jc: center)
    @include m.gap($ptb: f.px(14), $plr: f.px(59))
    width: f.px(268)
    transition: background-color 0.3s ease, color 0.3s ease
    &:hover
      @include m.dye(bg, c.$alpha)
      @include m.dye(c, white)
  @include m.media(phone, tablet)
    display: none

.amount
  @include m.dye(c, c.$psi)
