@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.button
  border-radius: f.px(5)
  border: f.px(1) solid
  @include m.dye(border, c.$alpha)
  @include m.dye(bg, c.$gray-100)
  @include m.gap($plr: f.px(40), $ptb: f.px(14))
  font-size: f.px(12)
  font-weight: 350
  text-align: center
  cursor: pointer
  @include m.media(phone, tablet)
    min-width: 100%
    max-width: 100%
    font-size: f.px(14)
  &:hover
    transform: scale(1.02)
    font-weight: 500
  &:disabled
    cursor: not-allowed
    font-weight: 350
    opacity: .5
    &:hover
      transform: scale(1)
      &::after
        opacity: 0

.violet
  @include m.dye(bg, c.$alpha)
  @include m.dye(c, white)
