@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.switch
  font-size: 17px
  position: relative
  display: inline-block
  width: 3.5em
  height: 2em

  .input
    opacity: 0
    width: 0
    height: 0

  .slider
    position: absolute
    cursor: pointer
    border: 1px solid
    @include m.dye(border, c.$purple-300)
    inset: 0
    // background: #9fccfa
    border-radius: 50px
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    &::before
      position: absolute
      content: ""
      display: flex
      align-items: center
      justify-content: center
      height: 1em
      width: 1em
      // color: red
      transform: translate(50%, 50%)
      inset: 0
      @include m.dye(bg, c.$purple-300)
      border-radius: 50px
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4)
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275)

  input:checked + .slider
    @include m.dye(bg, c.$purple-300)
    &::before
      transform: translate(200%, 50%)
      background-color: white

  input:focus + .slider
    box-shadow: 0 0 1px #0974f1
