@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.right-panel
  position: relative
  flex-basis: 50%
  flex-shrink: 0
  transform: translateX(0)
  transition: transform 0.5s ease
  @include m.media(laptop)
    flex-basis: 40%
  @include m.media(phone, tablet)
    flex-basis: 20%

.slide-out
  transition: transform 0.5s ease
  transform: translateX(100%)

.slide-in
  border-radius: 40px
  transition: transform 0.5s ease
  transform: translateX(0)

.img
  position: absolute
  @include m.media(desktop)
    overflow: hidden
    height: f.px(580)
  @include m.media(laptop)
    height: f.px(575)
    width: f.px(560)
  @include m.media(tablet)
    height: f.px(375)
    width: f.px(360)
  @include m.media(phone)
    height: f.px(377)
    width: f.px(362)
  object-fit: cover
  border-radius: f.px(40)
  @include m.media(phone, tablet)
    border-radius: f.px(11)

.filterImg
  position: relative

.filter
  border-radius: f.px(36)
  position: absolute
  top: 0
  right: 0
  bottom: f.px(5)
  left: 0
  @include m.dye(bg, c.$purple-800)
  z-index: 1
  opacity: 0.05
  @include m.media(phone, tablet)
    border-radius: f.px(14)

.innerImg
  border-radius: f.px(36)
  object-fit: contain
  @include m.media(phone, tablet)
    border-radius: f.px(11)
