@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.indentation
  @include m.gap($pt: f.px(35))

.bannerContent
  background-image: url("https://res.cloudinary.com/mipinstitute/image/upload/v1734966269/Banner_Besplatnogo_Dostupa_22431f0eb7.png")
  background-repeat: no-repeat
  background-size: cover
  border-radius: f.px(20)
  color: white
  padding: f.px(167) f.px(35) f.px(63) f.px(60)
  height: auto
  top: 0
  left: 0
  text-align: center
  @include m.media(phone, tablet)
    padding: f.px(56) f.px(12) f.px(17) f.px(18)

  p
    text-transform: uppercase
    font-style: normal
    line-height: 120%
    text-align: start
    @include m.dye(c, c.$white-900)
    font-size: f.px(55)
    font-weight: 500
    @include m.gap($mb: f.px(0))
    @include m.media(phone, tablet)
      font-size: f.px(20)
    span
      @include m.dye(c, c.$purple-850)
