$purple-900: #2B004D
$purple-800: #6f01c6
$purple-700: #7d00e0
$purple-600: #8301E9
$purple-500: #ae02f2
$purple-400: #b250ff
$purple-300: #947AFF

$dark-purple: #5C374C

$pink-400: #DCA8FF
$pink-300: #C1A5D3
$pink-200: #d5cdda
$pink-100: #f9f0ff
$pink-50: #fbf4ff

$orange-900: #ED5623
$orange-700: #f87e1b
$orange-300: #FAA275

$yellow-100: #FEF2E8
$yellow-50: #FFF3ED

$blue-900: #243E89
$blue-50: #f1faff

$black-900: #000
$black-800: #1a1a1a
$black-700: #262626
$black-600: #333

$gray-800: #545454
$gray-700: #808080
$gray-500: #b3b3b3
$gray-200: #d9d9d9
$gray-100: #f4f4f4
$gray-50: #f8f9f8

$white-900: #fff
$white-800: #fdfdfd
