@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.dye(bg, c.$pink-50)

  h1
    font-size: f.px(44)
    font-weight: 500
    @include m.gap($mtb: f.px(20))
    @include m.media(phone, tablet)
      font-size: f.px(28)

.subtitle
  @include m.gap($mb: f.px(50))
  font-weight: 350
  font-size: f.px(22)
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(35))
    font-size: f.px(15)

.lectoriumWrapper
  display: grid
  grid-template-columns: repeat(2, 1fr)
  gap: f.px(25)
  @include m.gap($mt: f.px(40))
  @include m.media(phone, tablet)
    grid-template-columns: 1fr
    gap: f.px(15)

.tags
  @include m.flex($ai: center)
  gap: f.px(15)
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $ai: flex-start)

