@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.section
  position: relative
  cursor: pointer
  @include m.gap($pb: f.px(0), $pt: f.px(84))
  @include m.media(tablet, phone)
    @include m.gap($pb: f.px(50), $pt: f.px(50))

.cards
  display: grid
  grid-template-columns: repeat(3, 1fr)
  gap: f.px(30)
  @include m.gap($mtb: f.px(50))
  @include m.media(phone, tablet)
    grid-template-columns: 1fr

.title
  font-size: f.px(40)
  @include m.gap($pt: f.px(30))
  @include m.media(tablet, phone)
    font-size: f.px(27)
    @include m.gap($pt: f.px(20))
