@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: 0 0 f.px(100) f.px(25)
  border: f.px(1) solid
  @include m.dye(border, c.$purple-800)
  @include m.dye(bg, c.$gray-50)
  @include m.flex($jc: flex-start, $ai: center)
  @include m.media(laptop, desktop)
    height: f.px(280)
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $jc: space-around)
    border-radius: 0 0 f.px(33) f.px(33)

.text
  width: f.px(480)
  @include m.flex($fd: column, $jc: center)
  @include m.gap($mr: f.px(20))
  @include m.media(phone, tablet)
    @include m.flex($ai:center, $jc: center)
    @include m.gap($mr: 0)
    width: auto

.title
  @include m.dye(c, c.$purple-800)
  font-size: f.px(40)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.media(phone, tablet)
    font-size: f.px(24)
    @include m.gap($pt: f.px(30), $pb: f.px(15))
    text-align: center
    max-width: f.px(300)

.description
  font-size: f.px(20)
  font-style: normal
  font-weight: 350
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($plr: f.px(30), $pb: f.px(15))
    text-align: center

.image
  transform: scale(0.5) translateX(f.px(-20))
  @include m.media(phone, tablet)
    display: none

.buttonBlock
  @include m.media(laptop, desktop)
    flex: 0.7
  display: flex
  width: 100%
  @include m.gap($plr: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(40))
  & > *
    width: 100%
  button
    width: 100%
