@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.countdown
  min-height: f.px(500)
  background: url('/assets/imgs/lectorium/topology.png'),linear-gradient(180deg, #6F01C6 0%, #8F60FF 100%)
  @include m.dye(c, c.$white-900)
  text-align: center
  height: 100%
  font-weight: 500
  @include m.gap($ptb: f.px(40), $plr: f.px(30))
  border-radius: f.px(10)
  background-position: center center
  @include m.media(phone, tablet)
    min-height: f.px(350)
    @include m.gap($p: f.px(25))
    border-radius: f.px(5)

.countdownTitle
  font-size: f.px(40)
  @include m.media(phone, tablet)
    font-size: f.px(24)

.countdownEnd
  @include m.flex($ai: center, $jc: center)

.daysNumbers
  font-size: f.px(146)
  @include m.gap($ptb: 0, $plr: 0)
  @include m.media(phone, tablet)
    font-size: f.px(90)

.daysBlock
  @include m.gap($mb: f.px(50))
  @include m.flex($fd: column)

.daysText
  font-size: f.px(40)
  @include m.gap($mt: f.px(-20))
  @include m.media(phone, tablet)
    font-weight: 350
    font-size: f.px(22)

.value
  font-size: f.px(40)
  @include m.media(phone, tablet)
    font-size: f.px(24)

.blocks
  @include m.flex($fd: row, $jc: center)

.block
  @include m.flex($fd: column)
  margin-bottom: 0

.item
  @include m.flex($fd: row, $ai: baseline)

.label
  font-size: f.px(20)
  font-weight: 350
  @include m.media(phone, tablet)
    font-size: f.px(12)

.divider
  font-size: f.px(20)
  @include m.gap($mlr: f.px(30))
