@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.calendar
  @include m.dye(bg, white)
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.05)
  max-width: f.px(370)
  min-width: f.px(370)
  @include m.gap($ptb: f.px(10))
  border: f.px(1) solid c.$purple-350
  border-radius: f.px(5)
  @include m.media(phone, tablet)
    max-width: 100% !important
    min-width: auto !important
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.06)
    border-radius: f.px(5)
    @include m.gap($ptb: f.px(10))
  // react-calendar__navigation
  & > div:nth-child(1)
    @include m.flex($ai: center, $jc: space-between)
    // react-calendar__navigation__label
    & > button:nth-child(3)
      font-size: f.px(16)
      font-weight: 500
      text-transform: uppercase
      @include m.dye(c, c.$black-900)
    // react-calendar__navigation__arrow react-calendar__navigation__next-button
    & > button:nth-child(2n)
      @include m.dye(c, c.$white-800)
  // react-calendar__viewContainer
  & > div:nth-child(2)
    @include m.gap($plr: f.px(10))
    // react-calendar__month-view__weekdays__weekday
    & > div > div > div > div:nth-child(1) > div
      @include m.flex($ai: center, $jc: center)
      // react-calendar__month-view__weekdays__weekday
      & > abbr
        @include m.dye(c, c.$gray-700)
        font-size: f.px(10)
        font-style: normal
        font-weight: 500
        text-transform: uppercase
        text-decoration: none
        @include m.gap($mtb: f.px(10))
        @include m.media(phone, tablet)
          @include m.gap($mt: f.px(5))
          font-size: f.px(10)
    // react-calendar__tile react-calendar__month-view__days__day 
    & > div > div > div > div:nth-child(2) 
      display: grid !important
      grid-template-columns: repeat(7, 1fr)
      justify-items: center
      row-gap: f.px(3)
      @include m.media(tablet)
        grid-template-columns: repeat(7, 1fr)
        display: grid
      @include m.media(phone)
        grid-template-columns: repeat(7, 1fr) 
        justify-items: center
        display: grid
      & > button
        width: f.px(34)
        height: f.px(34)
        font-size: f.px(12)
        @include m.dye(c, c.$black-900)
        @include m.flex($ai: center, $jc: center)
        @include m.gap($ptb: f.px(0))
        &:hover
          @include m.media(desktop, laptop)
            border-radius: 50%
        &:active
          border: f.px(1) solid c.$purple-800
          background-color: transparent
          color: black !important
          border-radius: 50%
          @include m.media(phone, tablet)
            border-radius: f.px(5)
            color: white !important
            border-color: c.$orange-700
        @include m.media(phone, tablet)
          @include m.gap($ptb: f.px(20), $mb: 0, $mlr: 0)
          width: f.px(40)
          height: f.px(40)
          border-radius: f.px(4)
          font-size: 18px
        @include m.media(phone)
          font-size: 14px
          @include m.gap($ptb: f.px(20), $mb: 0, $mlr: 0)
          width: f.px(40)
          height: f.px(40)
          border-radius: f.px(4)

      & > abbr
        font-size: f.px(10)
        font-style: normal
        font-weight: 500
        line-height: 120%
        text-transform: uppercase
        @include m.media(tablet)
          font-size: f.px(18)
          font-weight: 500
        @include m.media(phone)
          font-size: f.px(14)
          font-weight: 500

.bgArrow
  @include m.flex($ai: center, $jc: center)
  @include m.dye(bg, transparent)
  width: f.px(40)
  height: f.px(40)
  border-radius: 50%
  @include m.gap($mlr: f.px(10))
  @include m.media(phone, tablet)
    @include m.gap($mlr: 0)

.arrow
  width: 0
  height: 0
  border-top: f.px(5) solid transparent
  border-bottom: f.px(5) solid transparent
  border-left: f.px(10) solid c.$purple-800

.prev
  transform: rotate(180deg)

.eventDate
  position: relative
  &::after
    content: ''
    position: absolute
    top: f.px(5)
    right: f.px(5)
    width: f.px(5)
    height: f.px(5)
    background-color: c.$orange-700
    border-radius: 50%