@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  position: fixed
  bottom: 0
  left: 0
  z-index: 100
  transform: translateY(100%)
  transition: transform 0.2s ease-in-out
  @include m.flex($ai: center)
  width: 100%
  @include m.media(phone, tablet)
    height: f.px(74)
  @include m.media(laptop, desktop)
    height: f.px(82)
  overflow: hidden
  box-shadow: 0 f.px(4) f.px(4) rgba(0, 0, 0, .25)
  @include m.dye(bg, c.$purple-800)
  @include m.dye(c, c.$white-900)
  & > *
    position: relative
    @include m.flex($jc: space-between, $ai: center)
  &.isShown
    transform: translateY(0)
  &.isClosed
    transform: translateY(100%)

.content
  @include m.flex

.title
  display: block
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25)
  font-size: f.px(33)
  font-weight: 700
  line-height: 110%
  text-transform: uppercase
  @include m.media(phone, tablet)
    font-size: f.px(19)

.text
  @include m.gap($mr: f.px(20))

.description
  font-size: f.px(18)
  font-style: normal
  font-weight: 400
  line-height: 110%
  @include m.media(phone, tablet)
    font-size: f.px(11)

.discount
  font-style: normal
  font-weight: 400
  @include m.media(phone, tablet)
    font-size: f.px(11)
    display: block

.shape
  position: absolute
  z-index: -1
  @include m.media(phone)
    transform: scale(1.2)
    top: -10%
    left: f.px(80)
  @include m.media(tablet)
    top: -16%
    left: f.px(120)
  @include m.media(desktop, laptop)
    left: 16%
    top: -23%

.btns
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.flex
    & > *:nth-child(1)
      @media screen and (min-width: 971px)
        @include m.gap($mr: f.px(25))
        & > button
          padding: f.px(15) f.px(60)

.btn2
  & > div > button
    padding: f.px(15) f.px(50)
  @media screen and (max-width: 970px)
    display: none

.close
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.gap($ml: f.px(10), $mr: f.px(14))

.btnMobile
  @include m.media(phone, tablet)
    & > *
      min-width: f.px(109)
      & > *
        font-size: f.px(10)
  @include m.media(laptop, desktop)
    display: none

.tooltip
  min-width: f.px(546)
  border-radius: f.px(5)
  border: f.px(1) solid c.$purple-800
  @include m.dye(bg, c.$white-900)
  @include m.gap($ptb: f.px(20), $plr: f.px(40))
  font-family: Stem
  font-size: f.px(20)
  font-weight: 350
  line-height: 130%
  @include m.media(desktop)
    width: f.px(686)
  @include m.media(phone, tablet)
    font-size: f.px(12)
    @include m.gap($ptb: f.px(10), $plr: f.px(20))
    min-width: f.px(200)

.icon
  @include m.gap($mb: f.px(14))
