@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container
  @include m.flex($jc: space-between)
  width: 100%
  min-height: 100%
  @include m.media(phone, tablet)
    @include m.flex($display: false, $fd: column)

  &.slidable
    @include m.gap($mtb: f.px(-40), $ptb: f.px(40))
    overflow-x: auto
    @include m.media(phone, tablet)
      @include m.flex($display: false, $fd: row)
