@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: flex
  height: f.px(500)
  position: relative
  @include m.dye(bg, c.$white-900)
  border: f.px(1) solid c.$purple-800
  border-radius: f.px(14)
  overflow: hidden
  @include m.media(phone, tablet)
    height: f.px(460)
    border-radius: f.px(10)
    @include m.flex($fd: column)

.left
  width: f.px(500)
  max-width: f.px(500)
  @include m.gap($pr: f.px(20), $pl: f.px(40), $pt: f.px(40))
  @include m.media(phone, tablet)
    width: auto
    @include m.gap($plr: f.px(20), $pt: f.px(30))

.title
  display: inline-block
  font-size: f.px(48)
  font-style: normal
  text-transform: uppercase
  font-weight: 350
  @include m.gap($mb: f.px(20))
  @include m.media(phone, tablet)
    font-size: f.px(32)
    @include m.gap($mb: f.px(8))

.coloredTitle
  @include m.dye(c, c.$orange-700)

.right
  flex: 1
  position: relative

  .certificate
    border-radius: f.px(12)
    display: block

  .image-container
    width: f.px(600)
    height: f.px(430)
    position: absolute
    border-radius: f.px(12)
    display: block
    @include m.media(phone, tablet)
      width: f.px(280)
      height: f.px(190)
      border-radius: f.px(12)

  .imgClass1,
  .imgClass2,
  .imgClass3
    @extend .image-container

  .imgClass1
    z-index: 3
    top: f.px(105)
    left: f.px(80)
    @include m.media(phone, tablet)
      top: f.px(50)
      left: f.px(40)
      border: f.px(.5) solid c.$purple-800

  .imgClass2
    z-index: 2
    top: f.px(115)
    left: f.px(50)
    @include m.dye(bg, c.$pink-50)
    border: f.px(1) solid c.$purple-800
    @include m.media(phone, tablet)
      top: f.px(60)
      left: f.px(30)

  .imgClass3
    z-index: 1
    top: f.px(125)
    left: f.px(20)
    border: f.px(1) solid c.$purple-800
    @include m.dye(bg, c.$pink-50)
    @include m.media(phone, tablet)
      top: f.px(70)
      left: f.px(20)

.text
  font-size: f.px(20)
  font-weight: 350
  line-height: 120%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mb: 0)

  .bold
    font-weight: 500
    display: block
