@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/utils/mixin/media' as bp

.container
  cursor: pointer
  background: white
  @include m.gap($ptb: f.px(10), $plr: f.px(15), $mb: f.px(10))
  border: f.px(1) solid #F87E1B
  border-radius: f.px(4)
  &:hover
    opacity: 0.8
  