@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(5, em))
    font-size: f.px(24)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(10))
    font-size: f.px(36)
  font-weight: 400
  @include m.dye(c, c.$theta)

.bold
  font-weight: 500

.subTitle
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20, em))
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
    font-size: f.px(18)
  font-weight: 300
  @include m.dye(c, c.$kappa)

.courses
  @include m.media(laptop, desktop)
    @include m.flex($fw: wrap)

.btn
  @include m.media(laptop, desktop)
    @include m.flex($jc: center)
    & > *
      @include m.gap($plr: 6%)