@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.scene
  height: 100%
  @include m.flex($ai: flex-end)

.icon
  position: absolute
  top: f.px(123)
  cursor: pointer
  @include m.media(phone, tablet)
    position: static
    @include m.gap($mb: f.px(31))

.image
  flex-basis: 37%
  @include m.media(laptop)
    flex-basis: 50%
  @include m.gap($mb: f.px(-30), $mr: f.px(-18))
  @include m.media(phone, tablet)
    width: 60%
    height: 60%
    transform: translateX(f.px(150)) translateY(f.px(-180))

.card
  height: f.px(305)
  border-radius: f.px(10)
  @include m.dye(bg, c.$white-900)
  @include m.gap($pl: f.px(51), $pr: f.px(0))
  overflow: hidden
  @include m.flex($ai: flex-start, $jc: space-between)
  @include m.media(phone, tablet)
    width: 100%
    @include m.flex($fd: column, $ai: flex-start)
    @include m.gap($pl: f.px(30), $pr: f.px(0), $pt: f.px(35))

.text
  flex-basis: 50%
  @include m.media(laptop)
    flex-basis: 60%
  @include m.media(phone, tablet)
    max-width: f.px(200)
  .title
    font-size: f.px(25)
    font-weight: 500
    @include m.gap($mb: f.px(15), $mt: f.px(110))
    @include m.media(phone, tablet)
      @include m.gap($mt: f.px(-10))
      font-size: f.px(25)
  .subtitle
    font-size: f.px(18)
    font-weight: 300
    max-width: f.px(400)
    @include m.media(phone, tablet)
      font-size: f.px(15)
