@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.scene
  // flex-basis: 60%
  height: 100%
  @include m.flex($ai: flex-end)

.icon
  position: absolute
  top: f.px(123)
  @include m.media(phone, tablet)
    position: static
    @include m.gap($mb: f.px(31))

.image
  flex-basis: 35%
  @include m.gap($mb: f.px(-30), $mr: f.px(-18))
  @include m.media(phone, tablet)
    flex-basis: 55%

.card
  height: f.px(305)
  border-radius: f.px(10)
  @include m.dye(bg, c.$white-900)
  @include m.gap($pl: f.px(51), $pr: f.px(0))
  overflow: hidden
  @include m.flex($ai: center, $jc: space-between)
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $ai: flex-start)
    height: f.px(220)
    @include m.gap($pl: f.px(30), $pr: f.px(0), $pt: f.px(35))
    // flex-direction: column-reverse

.text
  flex-basis: 50%
  .title
    font-size: f.px(25)
    font-weight: 500
    @include m.gap($mb: f.px(15))
    @include m.media(phone, tablet)
      font-size: f.px(25)
  .subtitle
    font-size: f.px(18)
    font-weight: 300
    max-width: f.px(400)
    @include m.media(phone, tablet)
      font-size: f.px(15)
