@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.containerNext
  position: absolute
  // font-size: 30px
  top: 0px
  right: 0
  z-index: 3
  @include m.media(phone, tablet)
    z-index: 0
    top: -100px

  &.reviewNextBtn
    top: 10px
    right: 20px
    // transform: scale(1.5)
    @include m.media(phone, tablet)
      top: 90%
      right: 5%
    & > *
      & > *
        & > *
          & > *
            stroke: #6F01C6
            @include m.media(phone, tablet)
                display: none
            

.containerPrev
  position: absolute
  // font-size: 30px
  top: 0px
  right: 50px
  z-index: 3
  @include m.media(phone, tablet)
    z-index: 0
    top: -100px

  &.reviewPrevBtn
    top: 10px
    right: 70px 
    // transform: scale(1.5)
    @include m.media(phone, tablet)
      top: 90%
      left: 10%
    & > *
      & > *
        & > *
          & > *
            stroke: #6F01C6
            @include m.media(phone, tablet)
              display: none
            // transform: scale(1.05)

