@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container

.filters
  p
    width: f.px(300)
    font-size: f.px(18)
    font-weight: 500
    @include m.gap($pt: f.px(22), $pb: f.px(10))
    border-top: 1px solid #ACACAC