@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  font-weight: 600
  border-top: f.px(1) solid
  @include m.dye(border, c.$gray-800)
  @include m.gap($pt: f.px(30), $pb: f.px(90))
  display: flex
  @include m.media(phone, tablet)
    flex-direction: column

.copy,
.link
  font-size: f.px(15)
  @include m.media(desktop)
    flex-basis: 20%
  @include m.media(laptop)
    font-size: f.px(13)
    flex-basis: 20%
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15), $ml: f.px(30))
    font-size: f.px(13)
  @include m.dye(c, c.$gray-700)
