@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.container
  @include m.flex($fg: 0, $fs: 0, $fb: f.px(569))
  @include m.gap($mr: f.px(10, em), $ptb: f.px(40, em), $plr: f.px(22, em))
  border-radius: f.px(10, em)
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, 0.05)
  @include m.media(phone, tablet)
    @include m.flex($fb: 100%)
    @include m.gap($ptb: f.px(40, em), $plr: f.px(18, em))

.img
  @include m.flex($display: false, $fg: 0, $fs: 0, $fb: f.px(80))
  @include m.gap($mr: f.px(35, em))

.content
  @include m.flex($fd: column, $fg: 1)

.title
  @include m.gap($mt: 0, $mb: f.px(10, em))
  font-weight: 500

.text
  @include m.gap($mb: f.px(10, em))

.name,
.occupation
  @include m.gap($m: 0)

.name
  font-size: f.px(18)
  font-weight: 300
  @include m.gap($mb: f.px(5, em))

.occupation
  font-size: f.px(13)
  font-weight: 300
