@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.gap($m: 0, $p: 0)
  &.tooltip
    @include m.flex($fw: wrap)
    & .studyField
      @include m.gap($mb: f.px(12), $mr: f.px(12))
  &.aside
    & .studyField
      @include m.gap($mb: f.px(10))
  &.flexend
    @include m.gap($mt: f.px(12), $mlr: f.px(12))
    @include m.media(phone)
      display: block
      & .studyField
        @include m.gap($mb: f.px(2))
      & > *
        &:nth-of-type(2n)
          // align-content: baseline
          // width: fit-content
          flex-basis: auto
          // flex-wrap: wrap
          // transform: translateX(20%)
          justify-content: flex-end
      
        

.studyField
  @include m.flex