@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(phone, tablet)
    &.teachers > *
      & > *
        flex-basis: 35%
        max-width: f.px(168)
  @include m.media(laptop)
    &.teachers > *
      max-width: 100%
      transform: translate3d(0px, 0px, 0px) !important
      & > *
        flex-basis: 45%
        margin-top: f.px(10) !important
        margin-bottom: f.px(30)
        &:nth-child(odd)
          margin-right: f.px(50) !important
  @include m.media(desktop)
    &.teachers > *
      max-width: 100%
      transform: translate3d(0px, 0px, 0px) !important
      & > *
        flex-basis: 50%
        max-width: f.px(530)
        margin-top: f.px(10) !important
        margin-bottom: f.px(30)
  @include m.media(tablet, laptop, desktop)
    &.diplomas 
      & > *:nth-last-child(1)
        & > *
          min-width: 168px
          max-width: 168px
          transform: translate3d(0px, 0px, 0px) !important
  @include m.media(laptop, desktop)
    &.diplomas *:nth-last-child(1)
      & > *
        @include m.gap($mr: f.px(10))