@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.oneCard
  display: flex
  gap: f.px(24)


  &:nth-of-type(-n+2)
    .cardTitle
      max-width: f.px(320)
    .cardSubtitle
      max-width: f.px(315)
    

.cardSubtitle
  font-size: f.px(20)
  font-weight: 350
  max-width: f.px(230)
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(14)

.cardTitle
  font-size: f.px(25)
  font-weight: 500
  @include m.gap($mb: f.px(15))
  @include m.media(phone, tablet)
    font-size: f.px(18)