@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
  
.container
  width: 100%
  @include m.gap($p: f.px(30))
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, 0.05)
  border-radius: f.px(20)
  @include m.dye(bg, c.$nu)

.when
  @include m.flex($fd: column)

.date
  @include m.gap($mb: f.px(8))
  font-size: f.px(18)
  font-weight: 500
  line-height: 120%
  @include m.dye(c, c.$eta-2)

.dayOfWeek
  @include m.gap($mb: f.px(20))
  font-size: f.px(13)
  line-height: 120%
  @include m.dye(c, c.$kappa)

.speaker
  @include m.flex
  @include m.gap($mb: f.px(20))

.img
  min-width: f.px(70)
  max-width: f.px(70)
  min-height: f.px(70)
  max-height: f.px(70)
  @include m.gap($mr: f.px(22))
  overflow: hidden
  border-radius: 50%

.right
  font-size: f.px(18)
  font-weight: 300
  @include m.dye(c, c.$theta)

.label
  @include m.gap($mb: f.px(8))
  font-size: f.px(13)
  line-height: 120%
  @include m.dye(c, rgba(c.$theta, .4))

.title
  @include m.gap($mb: f.px(56))
  font-size: f.px(22)
  font-weight: 500
  @include m.dye(c, c.$theta)
