@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex
  @include m.gap($mb: f.px(10), $ptb: f.px(20), $plr: f.px(15))
  border-radius: f.px(10)
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  @include m.dye(bg, c.$nu)

.img
  min-width: f.px(139)
  max-width: f.px(139)
  @include m.gap($mr: f.px(23))
  border-radius: f.px(5)
  overflow: hidden

.right
  width: 100%

.info
  @include m.flex($jc: space-between, $ai: center)
  @include m.gap($mb: f.px(20))

.type
  @include m.gap($ptb: f.px(4), $plr: f.px(17))
  border-radius: f.px(23)
  font-size: f.px(11)
  text-transform: uppercase
  @include m.dye(bg, c.$mu)
  @include m.dye(c, c.$kappa)

.dur
  font-size: f.px(11)

.title
  @include m.gap($mb: 0)
  font-size: f.px(15)
  font-weight: 400
