@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: f.px(14)
  border: f.px(1) solid c.$purple-350
  @include m.dye(bg, c.$white-900)
  @include m.gap($ptb: f.px(25), $plr: f.px(20))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(20), $plr: f.px(15))

.violetBg
  @include m.dye(bg, c.$purple-200)
  & > .date
    @include m.dye(c, c.$gray-800)

.date
  @include m.dye(c, c.$gray-500)
  font-size: f.px(12)
  font-weight: 300
  @include m.media(phone, tablet)
    font-size: f.px(11)

.text
  @include m.dye(c, c.$black-900)
  font-size: f.px(16)
  font-weight: 350
  overflow-wrap: break-word
  @include m.gap($mb: f.px(85))
  @include m.media(phone, tablet)
    font-size: f.px(13)
    @include m.gap($mb: f.px(65))

.author
  @include m.flex($ai: center)
  gap: f.px(10)

.name
  margin-bottom: 0
  @include m.media(phone, tablet)
    font-size: f.px(12)

.image
  border-radius: 50%
  height: f.px(30)
  width: f.px(30)
  border: f.px(1) solid c.$purple-350

.stars
  @include m.flex($ai: center)
  @include m.gap($mt: f.px(35), $mb: f.px(15))
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(25), $mb: f.px(10))
