@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.gap($mb: f.px(33), $mt: f.px(60))
  cursor: pointer
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(2), $mlr: f.px(2), $mb: f.px(60))

.innerContainer
  min-height: f.px(220)
  border-radius: f.px(25)
  border: f.px(1) solid
  @include m.dye(border, c.$pink-400)
  @include m.media(phone, tablet)
    min-height: f.px(150)

.twoColumns
  width: 100%
  height: 100%
  @include m.media(laptop, desktop)
    @include m.flex($jc: space-between)
  @include m.media(phone, tablet)
    @include m.flex($fd: row)

.portrait
  border-radius: 50%
  overflow: hidden
  min-width: 140px
  max-width: 140px
  min-height: 140px
  max-height: 140px
  border-radius: 25px
  @include m.gap($mb: f.px(15))
  @include m.media(laptop,tablet)
    @include m.gap($mb: f.px(10))
    min-width: 120px
    max-width: 120px
    min-height: 120px
    max-height: 120px
  @include m.media(phone)
    @include m.gap($mb: f.px(10))
    min-width: 90px
    max-width: 90px
    min-height: 90px
    max-height: 90px

.leftBlock
  width: f.px(160)
  @include m.dye(bg, white)
  border-top-left-radius: f.px(25)
  border-bottom-left-radius: f.px(25)
  @include m.gap($p:f.px(25))
  @include m.media(laptop)
    @include m.gap($p:f.px(15))
  @include m.media(tablet)
    @include m.gap($p:f.px(15))
  @include m.media(phone)
    border-top-left-radius: f.px(25)
    border-bottom-left-radius: f.px(25)
    width: f.px(100)
    @include m.gap($p:f.px(15))

.name
  font-weight: 500
  margin-bottom: 0
  line-height: 120%
  @include m.media(laptop, desktop)
    font-size: f.px(16)
  @include m.media(tablet)
    font-size: f.px(14)
  @include m.media(phone)
    font-size: f.px(12)

.rightBlock
  display: flex
  width: 100%
  flex-direction: column
  justify-content: space-between
  min-height: f.px(240)
  @include m.dye(bg, c.$pink-100)
  border-top-right-radius: f.px(25)
  border-bottom-right-radius: f.px(25)
  @include m.gap($p: f.px(25),$pt:0)
  @include m.media(laptop)
    @include m.gap($p:f.px(20),$pt:0)
  @include m.media(tablet)
    min-height: f.px(170)
  @include m.media(phone)
    @include m.gap($p:f.px(15),$pt:0)
    min-height: f.px(170)

.whiteBg
  @include m.dye(bg, white)
  border-left: f.px(1) solid
  @include m.dye(border, c.$pink-400)
  border-top-right-radius: f.px(10)
  border-bottom-right-radius: f.px(10)

.practicalTeacher
  border-radius: f.px(10)
  & > div > div.leftBlock
    border-top-left-radius: f.px(10)
    border-bottom-left-radius: f.px(10)
    & > div
      border-radius: f.px(10)

.achievements
  font-weight: 400
  font-style: normal
  line-height: 130%
  font-size: f.px(16)
  @include m.gap($pl:f.px(10))
  @include m.dye(c, c.$black-900)
  @include m.gap($mb: 0)
  @include m.media(tablet)
    font-size: f.px(12)
  @include m.media(phone)
    font-size: f.px(11)
  & > li::marker
    font-size: f.px(10)

.experience
  display: flex
  align-items: center
  flex-direction: row
  font-size: f.px(16)
  @include m.media(tablet)
    font-size: f.px(12)
  @include m.media(phone)
    font-size: f.px(10)

.icon
  width: 20px
  @include m.gap($pr: f.px(10))
  & path
    @include m.dye(fill, c.$purple-800)
