@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  text-decoration: none
  display: flex
  height: fit-content
  width: 100%

.title
  font-weight: 500
  font-size: f.px(22)
  @include m.gap($mb: f.px(0))
  @include m.media(phone, tablet)
    font-size: f.px(14)
    @include m.gap($mb: f.px(5))

.portrait
  position: relative
  min-width: f.px(200)
  max-width: f.px(200)
  min-height: f.px(200)
  max-height: f.px(200)
  @include m.media(phone, tablet)
    @include m.gap($mr: f.px(15))
    min-width: f.px(130)
    max-width: f.px(130)
    min-height: f.px(130)
    max-height: f.px(130)

.filter
  border-radius: f.px(25)
  position: absolute
  @include m.dye(bg, c.$alpha)
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 4
  opacity: 0.05

.subtitle
  color: #505050
  font-size: f.px(16)
  font-weight: 350
  @include m.gap($mb: f.px(0))
  @include m.media(phone, tablet)
    font-size: f.px(12)
    @include m.gap( $mb: f.px(5))

.description
  padding-left: f.px(20)
  @include m.flex($ai: flex-start, $jc:space-between, $fd: column)

.innerContainer
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.button
  border-radius: 4px
  @include m.gap($plr: f.px(28), $ptb: f.px(18), $mt: f.px(10))
  @include m.flex($ai:center, $jc:center)
  @include m.dye(bg, c.$alpha)
  @include m.dye(c, c.$lambda)
  text-align: center
  font-size: f.px(18)
  font-style: normal
  font-weight: 500
  @include m.media(laptop)
    @include m.gap($plr: f.px(15))
  @include m.media(phone, tablet)
    @include m.gap($plr: f.px(10), $ptb: f.px(9))
    font-size: f.px(12)
