@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  text-decoration: none
  color: black
  @include m.flex
  cursor: pointer
  @include m.flex($fd: column, $jc: flex-start, $ai: flex-start)
  @include m.gap($mt: f.px(50))
  height: fit-content
  width: 100%
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(20))

.title
  font-weight: 500
  font-size: f.px(21)
  @include m.gap( $mt: f.px(13), $mb: f.px(17))
  @include m.media(phone, tablet)
    @include m.gap( $mt: f.px(10), $mb: f.px(5))

.portrait
  position: relative

.filter
  border-radius: f.px(25)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  @include m.dye(bg, c.$purple-800)
  z-index: 4
  opacity: 0.05

.subtitle
  @include m.dye(c, c.$gray-800)
  font-size: f.px(18)
  font-weight: 350
  @include m.gap( $mb: f.px(5))
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap( $mb: f.px(0))

  &:nth-last-child(1)
    @include m.gap( $mb: f.px(0))
  span
    font-weight: 500
    font-size: f.px(14)
    @include m.dye(c, c.$gray-800)
    @include m.media(phone, tablet)
      font-size: f.px(12)

.innerContainer
  @include m.flex($fd: column, $jc: space-between, $ai: space-between)
  background: c.$white-800
  width: 99%
  height: f.px(230)
  border: f.px(1) solid c.$purple-800
  border-radius: f.px(10)
  @include m.gap($mb: f.px(30), $mt: f.px(-20))
  @include m.media(phone, tablet)
    height: f.px(200)
  .title,.bottomPart
    @include m.gap($plr: f.px(18))

.bottomPart
  @include m.gap($mb: f.px(20))

.title
  @include m.gap($pt: f.px(40), $mtb: f.px(0))
