.container
  display: flex
  justify-content: flex-start

.card
  height: 100%
  width: 100%
  display: flex
  justify-content: flex-start

.text
  width: 65%
  display: flex
  flex-direction: column
  gap: 10px

.img
  // flex: %
  // height: 100%
  display: flex
  // flex-basis: 75%
  padding-right: 15px
  height: fit-content
  width: fit-content
  
  & > *
    & > *
      border-radius: 12px


.tag
  padding: 7px 15px
  border-radius: 50px
  border: 0.5px solid #ED5623
  color: #1A1A1A
  text-align: center
  font-size: 10px
  font-weight: 350
  line-height: 120%
  width: max-content


.title
  width: 85%
  font-size: 14px
  font-weight: 350
  line-height: 120%
  color: #1A1A1A