@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: grid
  grid-template-columns: 1fr f.px(260)
  gap: f.px(40)
  align-items: start
  width: 100%
  border: f.px(1) solid c.$purple-800
  @include m.dye(bg, c.$purple-100)
  border-radius: f.px(30)
  @include m.gap($ptb: f.px(20), $pl: f.px(30), $pr: f.px(20), $mt: f.px(30))
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $jc: space-between)
    width: auto
    gap: 0
    border-radius: f.px(10)
    min-width: f.px(250)
    height: f.px(670)
    @include m.gap($plr: f.px(15), $mt: f.px(10), $ptb: f.px(15))

.title
  font-size: f.px(30)
  font-weight: 500
  text-transform: uppercase
  @include m.gap($mtb: f.px(10))
  @include m.media(phone, tablet)
    @include m.gap($mt: 0)
    font-size: f.px(26)

.subtitle
  font-size: f.px(15)
  font-weight: 350

.list
  border-top: f.px(1) solid c.$purple-350
  border-radius: f.px(15)
  counter-reset: list-counter
  padding-left: f.px(20)
  @include m.gap($ptb: f.px(20), $plr: f.px(10), $mb: 0)
  @include m.media(phone, tablet)
    border-radius: f.px(7)
    @include m.gap($plr: 0, $pb: 0, $pt: f.px(10))

.item
  @include m.flex()
  gap: f.px(20)
  font-size: f.px(15)
  font-weight: 350
  list-style: none
  counter-increment: list-counter
  @include m.gap($mb: f.px(15))
  @include m.media(phone, tablet)
    gap: f.px(10)
    @include m.gap($mb: f.px(10))
    &:last-child
      @include m.gap($mb: 0)
  &::before
    content: "(" counter(list-counter) ") "
    font-size: f.px(14)
    font-weight: 500

.imageWrapper
  position: relative
  width: f.px(260)
  min-height: f.px(320)
  overflow: hidden
  @include m.media(phone, tablet)
    margin: 0 auto
    width: f.px(250)

.image
  border-radius: f.px(15)
  object-fit: cover
  object-position: center
