.form
  display: flex
  flex-direction: column
  gap: 10px
  width: 100%
  max-width: 400px
  margin: 0 auto

.formGroup
  display: flex
  flex-direction: column

.input
  border: 1px solid #855EDF
  background: #FFF
  border-radius: 4px
  font-size: 16px
  margin-bottom: 15px
  padding: 21px 45px 17px 16px
  // transition: border 0.3s ease
  outline: none

.input:focus
  border-color: #855EDF
  

.submitBtn
  padding: 10px
  background-color: #6F43B6
  color: white
  border: none
  border-radius: 4px
  font-size: 16px
  cursor: pointer
  transition: background-color 0.3s ease

.submitBtn:hover
  background-color: #5a34a5

.formLink
  background-color: white