@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.form
  @include m.flex($fd: column)
  gap: 10px
  width: 100%
  margin: 0 auto

.formGroup
  @include m.flex($fd: column)

.input
  border: 1px solid c.$purple-600
  background: c.$white-900
  border-radius: 4px
  font-size: f.px(16)
  @include m.gap($pt: f.px(21), $pr: f.px(45), $pb: f.px(17),$pl: f.px(16))
  transition: border 0.3s ease
  outline: none
  z-index: 3

.input:focus
  border-color: c.$purple-600
  
.submitBtn
  height: 60px
  background-color: c.$purple-350
  border: none
  border-radius: 4px
  font-size: f.px(16)
  cursor: pointer
  transition: background-color 0.3s ease
  color: c.$white-900
  font-family: Stem
  font-style: normal
  font-weight: 500
  line-height: 130%
  text-transform: uppercase

.submitBtn:hover
  background-color: c.$purple-800

.error 
  color: red
  font-size: f.px(14)
  @include m.gap($mt: f.px(5))

.onMobile
  @include m.media(desktop, laptop)
    display: none

