@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.point
  position: relative
  background: white
  @include m.flex($fd: column, $jc: center)
  @include m.gap($ptb: f.px(14), $plr: f.px(10))
  border-radius: f.px(10)
  @include m.media(laptop, desktop)
    width: f.px(185)
  @include m.media(phone, tablet)
    height: f.px(90)
    border: f.px(1) solid
    @include m.dye(border, c.$alpha)
  p
    font-size: f.px(12)
    text-align: center
    @include m.gap($mb: f.px(11))
    @include m.media(phone, tablet)
      font-size: f.px(11)

.key
  font-weight: 500

.icon
  position: absolute
  top: f.px(8)
  left: f.px(8)
  span
    background-color: rgba(255, 255, 255, 0) !important
    & > *
      width: f.px(22)
