@use "sass:math"
@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

$size: 1
$defaultWidth: 24
$defaultHeight: 24

$width: $size * $defaultWidth
$height: math.div($width, math.div($defaultWidth, $defaultHeight))

.container
  width: f.px($width, em)
  // height: f.px($height)
  @include m.gap($m: f.px(10, em))
  & svg path
    @include m.dye(fill, c.$nu)
