@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: 0 0 f.px(48) f.px(25)
  border: f.px(1) solid
  @include m.dye(border, c.$purple-300)
  @include m.dye(bg, #FAFBFD)
  @include m.flex($jc: flex-start, $ai: center)
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(15), $pl: f.px(63), $pr: f.px(99))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(15))
    @include m.flex($fd: column, $jc: space-around)
    border-radius: 0 0 f.px(33) f.px(33)

.text
  @include m.flex($fd: column, $jc: center)
  @include m.media(desktop)
    @include m.gap($mr: f.px(211))
  @include m.media(laptop)
    @include m.gap($mr: f.px(51))
  @include m.media(phone, tablet)
    @include m.flex($ai:center, $jc: center)
    @include m.gap($mr: 0)
    width: auto

.title
  @include m.dye(c, c.$purple-300)
  font-size: f.px(40)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.media(phone, tablet)
    font-size: f.px(24)
    @include m.gap($pt: f.px(30), $pb: f.px(15))
    text-align: center
    max-width: f.px(300)

.description
  font-family: Stem
  font-size: f.px(20)
  font-style: normal
  font-weight: 350
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(18)
    @include m.gap($plr: f.px(30), $pb: f.px(15))
    text-align: center

.image
  & > img
    border-radius: 50%
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(58))

.buttonBlock
  font-size: f.px(18)
  border-radius: f.px(4)
  @include m.dye(bg, c.$purple-300)
  font-weight: 500
  line-height: normal
  text-align: center
  @include m.dye(c, white)
  @include m.gap($plr: f.px(32), $ptb: f.px(17))
