@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.card
  position: relative
  @include m.dye(bg, c.$orange-700)
  border-radius: f.px(10)
  min-height: f.px(380)
  @include m.dye(c, c.$white-900)
  @include m.media(laptop, phone, tablet)
    min-height: f.px(320)

.back
  @include m.gap($ptb: f.px(25), $pl: f.px(20), $pr: f.px(15))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(20), $pr: f.px(20))

.cardHeader
  @include m.flex($ai: flex-start, $fd: column)
  min-height: f.px(40)
  gap: f.px(10)
  @include m.gap($mb: f.px(20))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))

.name
  white-space: pre-line
  font-size: f.px(24)
  font-weight: 500

.position
  font-size: f.px(16)
  font-weight: 350

.quote
  font-size: f.px(18)
  font-weight: 350
  @include m.media(phone, tablet)
    font-size: f.px(15)

.icon
  position: absolute
  right: f.px(20)
  bottom: f.px(20)

.frontSide
  display: block
  object-fit: cover
  height: 100%
