@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.img
  @include m.media(phone, tablet)
    border-top-left-radius: f.px(50)
  @include m.media(laptop, desktop)
    border-top-left-radius: f.px(100)
    border-bottom-left-radius: f.px(3)
