@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(50), $mt: f.px(18), $mb: f.px(50))
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(75), $mt: f.px(90))
  @include m.dye(bg, c.$epsilon)

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20))
    font-size: f.px(30)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(35))
    font-size: f.px(44)
  font-weight: 500

.content
  @include m.media(phone, tablet)
    border-radius: f.px(25) 0 0 0
  @include m.media(laptop, desktop)
    @include m.flex
    border-radius: f.px(100) 0 0 0

.left
  @include m.media(laptop, desktop)
    position: relative
    max-width: f.px(785)
    @include m.gap($plr: f.px(8))
    @include m.flex($display: false, $fb: 33%)
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))

.heading
  @include m.media(phone, tablet)
  @include m.media(laptop, desktop)
    @include m.flex($fd: column, $jc: space-between)
  position: relative

.info
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    display: grid
    grid-template-columns: 1fr 1fr
  @include m.media(laptop, desktop)
    @include m.flex
    border-bottom: f.px(1) solid
    @include m.dye(border, c.$mu)

.infoitem
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(30))
  &:nth-child(1)
    .infoval
      &::before
        content: 'до '

.infokey
  @include m.gap($mb: f.px(5))
  font-size: f.px(13)
  font-weight: 300
  @include m.dye(c, rgba(c.$chi, .5))

.infoval
  font-size: f.px(13)
  font-weight: 500

.cost
  @include m.media(laptop, desktop)


.right
  @include m.gap($pl: f.px(25))
  @include m.media(phone, tablet)
    @include m.gap($pl: f.px(0))
  @include m.media(laptop, desktop)
    // @include m.gap($pl: f.px(20))
    @include m.flex($display: flex, $fb: 33%)
    flex-direction: column
  p
    font-size: f.px(18)
    @include m.media(phone, tablet)
      max-width: f.px(250)
  ul
    height: 100%
    @include m.gap($pl: f.px(0), $pr: f.px(16), $mb: f.px(0))
    display: flex
    flex-direction: column
    justify-content: space-between
    @include m.media(phone, tablet)
      padding: 0

.point
  // @include m.media(laptop, desktop)
  @include m.flex
  @include m.gap($mb: f.px(11))
  font-size: f.px(16)
  font-weight: 300

.pointicon
  // @include m.media(laptop, desktop)
  @include m.gap($mr: f.px(22))
  & > *
    fill: red

.center
  flex-basis: 33%
  // margin-top: 95px
  display: flex
  // @include m.gap($plr: f.px(8))
  flex-direction: column
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(30))


.bgForm
  border-radius: 25px
  background: #6F01C6
  padding: 33px
  @include m.media(desktop)
    height: 420px
  @include m.media(laptop)
    height: 415px
  @include m.media(phone, tablet)
    display: none
  p
    color: white
    text-align: center
    // font-size: 15px
    @include m.media(desktop)
      font-size: 18px
    @include m.media(laptop)
      font-size: 15px
    font-style: normal
    font-weight: 350

.titleRight
  font-size: f.px(18)
  font-style: normal
  font-weight: 500
  // @include m.gap($ml: f.px(75))
  @include m.media(phone, tablet)
    // @include m.gap($ml: f.px(45), $mb: f.px(15))
