@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.scrollToTop
  opacity: 0
  z-index: 10
  position: fixed
  right: f.px(40)
  @include m.media(laptop, desktop)
    bottom: f.px(200)
  @include m.media(tablet)
    right: f.px(20)
    bottom: f.px(170)
  @include m.media(phone)
    right: f.px(10)

  &.show
    opacity: 1
    cursor: pointer
