@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(laptop, desktop)
    // height: 725px
    display: flex
    justify-content: space-between
    // padding-left: 20px
  @include m.media(phone, tablet)
    height: 100%
    display: flex
  background: #FEF2E8

.fon
  background: #FEF2E8

.icon
  @include m.media(phone, tablet)
    display: none

.title
  font-family: Stem, sans-serif
  font-weight: 500
  font-size: 21px
  @include m.dye(c, c.$orange-700)
  @include m.media(phone, tablet)
    @include m.gap($plr: f.px(26))

.top
  padding: 0.5em
  @include m.media(laptop, desktop)
    margin-top: 8em
    margin-bottom: 4em
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(56))
    @include m.gap($mb: f.px(16))
    @include m.gap($ml: f.px(26))

  p
    font-family: Stem, sans-serif
    font-weight: 500
    font-size: f.px(22)

.pinkRound
  @include m.dye(bg, c.$purple-400)
  padding: 20px
  border-radius: f.px(48)
  font-family: Stem, sans-serif
  font-weight: 500
  font-size: f.px(22)
  @include m.dye(c, c.$white-900)
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(16))
  @include m.media(phone, tablet)
    display: block
    width: fit-content
    @include m.gap($mb: f.px(16))

.violetText
  @include m.dye(c, c.$purple-400)

.spnn
  @include m.gap($ptbr: f.px(30))
  font-family: Stem, sans-serif
  font-weight: 500
  font-size: f.px(22)

.horizontalOrnament
  @include m.gap($m: f.px(30))
  @include m.media(laptop, desktop)
    display: none
