@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  position: relative
  background: white
  & > *
    & > *
      @media screen and (min-width: bp.$tablet) and ( max-width: 890px )
        @include m.flex($display: false, $fd: column)

.title
  display: inline-block
  @include m.gap($mb: 0, $pt: f.px(15))
  font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$black-800)
  @include m.media(phone, tablet)
    font-size: f.px(30)
    @include m.gap($mb: 0)
  @media screen and (min-width: bp.$tablet) and ( max-width: 890px )
    @include m.gap($mb: f.px(37))

.tag
  & > *
    @include m.gap($ptb: f.px(8), $plr: f.px(20))

.text
  @include m.media(laptop, desktop)
    flex-basis: 48.8%
    margin-right: 0px
    max-width: f.px(500)
  @include m.media(phone, tablet)
    display: none

.textMobile
  @include m.media(laptop, desktop)
    display: none
  @include m.media(phone, tablet)
    flex-basis: 48.8%
    margin-right: 0px
    max-width: f.px(520)

.boldText
  font-weight: 500

.readMoreBtn
  @include m.dye(c, c.$orange-700)
  font-size: f.px(15) !important
  font-weight: 700
  text-decoration: underline
  text-underline-offset: f.px(3)
  display: none
  @include m.media(phone, tablet)
    display: flex

.img
  @include m.gap($mt: f.px(30))

.rightImg
  object-fit: cover
  border-radius: f.px(25)
  @include m.media(phone, tablet)
    width: 100%
    height: auto

.leftTitle
  @include m.gap($mt: f.px(30), $mb: f.px(0))
  color: #131313
  font-size: f.px(20)
  font-weight: 350
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mtb: f.px(10))

.bothImg
  //@include m.gap($mt: f.px(0), $mb: f.px(0))

.content
  @include m.media(laptop, desktop)
    @include m.flex
    gap: f.px(29)
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
