@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
  
  
.top
  & > h3
    font-size: f.px(26)
    font-weight: 500
    line-height: 110%
    @include m.gap($mb: f.px(15))
    @include m.media(tablet, phone)
      font-size: f.px(22)
  & > p
    font-size: f.px(18)
    font-weight: 350
    line-height: 120%
    width: 88%
    @include m.media(tablet, phone)
      font-size: f.px(13)

.bottom
  @include m.flex($jc: space-between, $ai: flex-end)
  & > p
    font-size: f.px(18)
    font-weight: 500
    line-height: 120%
    width: f.px(220)
    @include m.gap($mb: f.px(0))
    @include m.dye(c, c.$purple-800)
    @include m.media(tablet, phone)
      font-size: f.px(11)
      width: auto
      @include m.gap($mr: f.px(30), $mb: f.px(10))
  @include m.media(tablet, phone)
    @include m.flex($fd: column, $ai: flex-end)

.link
  @include m.flex()
  gap: f.px(2)
  height: auto
  z-index: 1
  @include m.media(tablet, phone)
    height: auto

.button
  @include m.gap($plr: f.px(32), $ptb: f.px(16))
  font-size: f.px(14)
  font-weight: 500
  line-height: 130%
  text-transform: uppercase
  border-radius: f.px(100)
  @include m.media(tablet, phone)
    font-size: f.px(10)
    @include m.gap($plr: f.px(40), $ptb: f.px(13))

.iconLink
  width: f.px(51)
  height: f.px(51)
  border-radius: 50%
  @include m.gap($p: f.px(12))
  @include m.flex($jc: center, $ai: center)
  @include m.media(tablet, phone)
    width: f.px(40)
    height: f.px(40)



.purple
  @include m.dye(c, c.$white-900)
  @include m.dye(bg, c.$purple-800)

.white
  @include m.dye(c, c.$orange-700)
  @include m.dye(bg, c.$white-900)

.whiteText
  @include m.dye(c, c.$white-900)

.backgroundImageRight
  pointer-events: none
  position: absolute
  width: f.px(468)
  height: f.px(229)
  top: f.px(471)
  @include m.media(laptop)
    top: f.px(541)
  @include m.media(tablet, phone)
    width: auto
    height: auto
    top: f.px(751)


