@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp


.container
  @include m.dye(bg, c.$alpha)
  
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(25))
  @include m.media(laptop, desktop)
    overflow: visible
    @include m.gap($pt: f.px(65, em), $pb: f.px(55))
.content
  max-width: f.px(1400)
  position: relative
.bg
  z-index: 0
  // position: absolute
  top: 0
  right: 0
  @include m.media(phone, tablet)
    height: 91%
  @include m.media(laptop, desktop)
    height: 91%
  width: 100%
  @include m.dye(bg, c.$alpha)

.title,
.desc
  @include m.dye(c, c.$nu)

.title
  position: relative
  @include m.media(phone, tablet)
    font-size: f.px(36)
    max-width: f.px(500)
    @include m.gap($mb: f.px(15))
  @include m.media(laptop, desktop)
    max-width: 13ch
    @include m.gap($mb: f.px(20))
    font-size: f.px(64)
  font-weight: 500
  line-height: 110%
  z-index: 1

.desc
  position: relative
  @include m.media(phone, tablet)
    color: #EAEAEA
    font-weight: 350
    max-width: 33ch
    line-height: 130%
    @include m.gap($mb: f.px(35))
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    max-width: 35ch
    font-size: f.px(20)
    font-weight: 300
  @include m.gap($mb: f.px(30))
  font-family: Stem, sans-serif
  
  line-height: 130%
  z-index: 1

.btns
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.flex

.btn
  @include m.media(desktop)
    @include m.flex($fb: 55%)
  @include m.media(laptop)
    @include m.flex($fb: 45%)
  @include m.media(phone, tablet)
      display: none
  & > *
    width: 100%
    & > *
      width: 100%
  &:nth-child(1)
    @include m.media(phone, tablet)
      @include m.gap($mb: f.px(17))
    @include m.media(laptop, desktop)
      @include m.gap($mr: f.px(24))

// .icon
//   @include m.media(phone, tablet)
//     position: absolute
//     top: 0
//     right: 0
//     transform: translateX(54%)
//   @include m.media(laptop, desktop)
//     display: none

// .iconDesktop
//   @include m.media(phone, tablet)
//     display: none
//   @include m.media(laptop, desktop)
//     position: absolute
//     bottom: f.px(130)
//     right: f.px(180)
//     z-index: 1
//   @media screen and (min-width: bp.$tablet) and (max-width: 850px)
//     bottom: f.px(400)
//     right: f.px(270)
//     transform: rotate(10deg)
      

.left
  position: relative
  z-index: 2
  @include m.media(laptop, desktop)
    @include m.gap($pb: f.px(260))
    min-width: f.px(570)
    @include m.gap($mt: f.px(55))

.right
  @include m.media(laptop, desktop)
    position: relative
    // @include m.gap($pb: f.px(315))
    display: flex
    align-items: flex-start
  @include m.media(phone, tablet)
    height: f.px(400)
    // display: flex
    align-items: flex-end
    justify-content: stretch
.img
  position: absolute
  @include m.media(phone)
    // right: 0
    // left: 0
    top: f.px(60)
    position: absolute
    z-index: 1
    scale: 1.1
    // width: f.px(350)
    max-height: f.px(398)
    overflow: hidden
    // transform: translate(5%, f.px(0))
  @include m.media(laptop, desktop)
    transform: translate(23%, f.px(-100))
    right: 0
    width: f.px(594)
    height: f.px(677)
    z-index: 1
  @include m.media(laptop)
    transform: translate(20%, f.px(-100))
  @include m.media(tablet)
    right: 0
    transform: translate(5%, f.px(-145))
    width: f.px(380)
    height: f.px(477)

.prosList
  @include m.media(phone, tablet)
    transform: translateY(f.px(-13))
  @include m.media(laptop, desktop)
    // display: block
    // position: initial
    z-index: 15
    left: 0
    right: 0
    position: absolute
    // top: 500px
    transform: translate(0%, f.px(-235))

// .hiddenGem
//   animation: rotating 6s linear infinite

// @keyframes rotating
//   0%
//     transform: translateX(54%) rotate(0deg)

//   50%
//     transform: translateX(0%) rotate(180deg)

//   100%
//     transform: translateX(54%) rotate(360deg)


.mobileBtns
  position: relative
  z-index: 10
  margin-top: f.px(230)
  @include m.media(laptop, desktop)
    display: none

.mobileBtn
  position: relative
  z-index: 10
  margin-bottom: f.px(17)

.portals
  position: relative


.smallOne
  position: absolute
  bottom: f.px(-60)
  right: f.px(300)
  @include m.media(phone, tablet)
    bottom: f.px(-10)
    right: f.px(250)
.smallTwo
  position: absolute
  bottom: f.px(-80)
  right: f.px(60)
  @include m.media(phone, tablet)
    display: none
.xsmallOne
  position: absolute
  bottom: f.px(-120)
  right: f.px(-80)
  @include m.media(phone, tablet)
    bottom: f.px(-200)
    right: f.px(280)

.xsmallTwo
  position: absolute
  bottom: f.px(-350)
  right: f.px(10)
  @include m.media(phone, tablet)
    bottom: f.px(30)
    right: f.px(10)

.pointShadow
  width: f.px(1)
  height: f.px(1)
  box-shadow: rgba(182, 210, 244, 0.2) 10px 17px 149px 170px
  position: absolute
  bottom: f.px(-150)
  right: f.px(180)
.medium
  // box-shadow: rgba(182, 210, 244, 0.2) 10px 17px 149px 170px
  position: absolute
  bottom: f.px(-150)
  right: f.px(180)
  @include m.media(phone, tablet)
    bottom: f.px(-200)
    right: f.px(40)
.big
  position: absolute
  bottom: f.px(-200)
  right: f.px(390)
  transform: rotate(25deg)
  @include m.media(phone, tablet)
    display: none