@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(20), $pb: f.px(0), $mb: f.px(1))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(62), $pt: f.px(48), $pb: f.px(0))

.heading
  @include m.media(laptop, desktop)
    @include m.flex($jc: space-between, $ai: flex-end)

.title
  max-width: 350px
  font-weight: 500
  line-height: 110%
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(25))
    font-size: f.px(27)
  @include m.media(laptop, desktop)
    @include m.gap($mb: 0)
    font-size: f.px(36)

.input
  // width: 100%
  display: flex
  justify-content: flex-end
  & > *
    & > input
      color: black
      @include m.dye(bg, c.$nude)
      &::placeholder
        color: black
        font-size: f.px(18)
        font-family: Stem
        font-style: normal
        font-weight: 200
        line-height: 130%
        @include m.media(phone, tablet)
          font-size: f.px(14)
