@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  position: relative
  @include m.gap($pt: f.px(84), $pb: f.px(35))

.bg
  position: absolute
  top: 0
  right: 0
  height: 94%
  width: 100%
  @include m.dye(bg, c.$alpha)
  z-index: -1

.top
  @include m.media(laptop, desktop)
    @include m.flex($jc: space-between)

.heading
  @include m.media(laptop, desktop)
    @include m.gap($mr: 8%)

.title
  @include m.gap($mb: f.px(39))
  @include m.media(phone, tablet)
    font-size: f.px(36)
  @include m.media(laptop, desktop)
    min-width: 12ch
    max-width: 15ch
    font-size: f.px(64)
  font-weight: 500
  line-height: 110%
  @include m.dye(c, c.$nu)

.pic
  position: relative
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(17))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(87))

.discount
  position: absolute
  top: f.px(-20)
  @include m.media(phone, tablet)
    left: 0
  @include m.media(laptop, desktop)
    left: f.px(-30)
  z-index: 1

.img
  border-radius: f.px(100) 0
  overflow: hidden
  @include m.media(phone, tablet)
    max-width: 670px
    margin: 0 auto
  @include m.media(laptop, desktop)
    position: relative
    width: f.px(460)
    height: f.px(460)
    & > *
      position: absolute
      top: 0
      left: 0
      width: f.px(676)
      height: f.px(460)
      transform: translate(-16%, f.px(1))

.btnsMobile
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(17))
    & > *:nth-child(1)
      @include m.gap($mb: f.px(17))
  @include m.media(laptop, desktop)
    display: none

.btnsDesktop
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.flex
    & > *
      width: 100%
    & > *:nth-child(1)
      @include m.gap($mr: f.px(30))