@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  z-index: 2
  padding-bottom: 0
  & > *
    position: relative
  @include m.media(laptop, desktop)
    overflow: visible
  @include m.media(phone, tablet)
    position: relative
    z-index: 3
    overflow: hidden
.containerHero
  display: flex
  flex-direction: column
  justify-content: space-evenly
  height: 100%
.desktopBg
  max-width: f.px(1170)
  min-height: f.px(638)
  border-radius: f.px(20)
  position: relative
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  z-index: 0
  @include m.gap($mt: f.px(30))
  @include m.media(phone, tablet)
    display: none

.mobileBg
  height: fit-content
  position: relative
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  @include m.media(laptop, desktop)
    display: none

.mobileFlex
  height: 100%
  @include m.media(phone, tablet)
    @include m.flex($fd: column)

.heading
  position: relative
  height: f.px(660)
  z-index: 1
  @include m.media(laptop, desktop)
    @include m.gap($plr: f.px(63), $pt: f.px(10), $pb: f.px(150))
    @include m.flex($fd: column, $jc: space-between)

.label
  position: relative
  z-index: 1
  @include m.media(laptop, desktop)
    @include m.flex($as: start)

.title, .analisys
  @include m.dye(c, c.$white-900)
  // font-size: f.px(55)
  font-weight: 500
  line-height: 90%
  @include m.gap($mb: f.px(20))
  position: relative
  z-index: 1
  @include m.dye(c, c.$white-900)
  @include m.media(laptop, desktop)
    min-width: 12ch
    @include m.gap($mt: f.px(15))
    font-size: f.px(64)
    font-weight: 500
    line-height: 110%
  @include m.media(phone, tablet)
    @include m.dye(c, c.$white-900)
    font-size: f.px(36)
    font-weight: 500
    line-height: 110%

.analysis
  font-size: f.px(55)

.descriptionDesktop
  @include m.dye(c, c.$white-900)
  font-size: f.px(20)
  font-weight: 500
  line-height: 110%
  width: f.px(720)

.descriptionMobile
  @include m.dye(c, c.$white-900)
  font-size: f.px(15)
  z-index: 1
  font-weight: 500
  line-height: 130%
  @include m.media(laptop, desktop)
    display: none

.moreText
  @include m.dye(c, c.$pink-50)
  text-decoration-line: underline
  text-underline-offset: f.px(2)
  font-size: f.px(15)
  font-weight: 500
  line-height: 130%
  backdrop-filter: blur(25px)
  border-radius: f.px(5)
  @include m.gap($ptb: f.px(5), $mtb: f.px(10), $plr: f.px(5))
  @include m.media(phone, tablet)
    font-size: f.px(15)

.discount
  position: absolute
  top: f.px(20)
  right: f.px(20)
  z-index: 1
  @include m.media(tablet)
    top: f.px(10)
    right: f.px(20)
  @include m.media(phone)
    top: f.px(5)
    right: f.px(5)

.filter
  border-radius: f.px(20)
  position: absolute
  width: 100%
  height: 100%
  @include m.dye(bg, black)
  opacity: 0.2
  @include m.media(phone, tablet)
    border-radius: 0

.btnsMobile
  @include m.media(laptop, desktop)
    display: none
  @include m.media(phone, tablet)
    & > *:nth-child(1)
      @include m.gap($mb: f.px(10))

.btnsDesktop
  z-index: 10
  @include m.media(laptop, desktop)
    @include m.gap($pr: f.px(147))
    @include m.flex($as: flex-start)
    width: 66%
    & > *
      width: 100%
      & > *
        width: 100%
    & > *:nth-child(1)
      @include m.gap($mr: f.px(30))
  @include m.media(phone, tablet)
    display: none

.info, .infoDown
  transition: transform 1s ease-in-out
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(30))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(-68))
    transform: translateY(f.px(-140))
    position: relative
    z-index: 1

.infoDown
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(8))
    transform: translateY(f.px(-10))

.mobiledesc
  display: inline-block
  @include m.gap($mb: f.px(0))

.content
  min-height: f.px(473)
  @include m.flex($fd: column, $jc: space-between)
  @include m.gap($pt: f.px(20), $pb: f.px(30), $plr: f.px(15))
