@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  position: relative
  background: white
  @include m.gap($pb: f.px(0), $pt: f.px(90))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(15))
  & > *
    & > *
      @media screen and (min-width: bp.$tablet) and ( max-width: 890px )
        @include m.flex($display: false, $fd: column)

.onProfession
  @include m.gap($pt: f.px(0))

.title
  display: inline-block
  @include m.media(phone, tablet)
    font-size: f.px(26)
    @include m.gap($mb: 0)
  @include m.media(laptop, desktop)
    @include m.gap($mb: 0, $mr: f.px(19))
    font-size: f.px(44)
    font-weight: 500
  @include m.dye(c, c.$black-800)
  @media screen and (min-width: bp.$tablet) and ( max-width: 890px )
    @include m.gap($mb: f.px(37))

.left
  @include m.media(laptop, desktop)
    flex-basis: 48.8%
    margin-right: 0px
    width: 600px

.right
  flex-basis: 48.5%
  margin-top: 30px
  background: #F9F0FF
  border-radius: f.px(25)
  height: fit-content
  @include m.media(phone, tablet)
    @include m.gap($mt: 0)
    border-radius: f.px(15)
.list
  @include m.gap( $p: 0, $mt: f.px(35))
  @include m.media(laptop, desktop)
  @media screen and (min-width: bp.$tablet) and ( max-width: 890px )
    max-width: f.px(630)
    @include m.gap($ml: f.px(40))
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(15))

.item
  @include m.flex
  @include m.gap($mb: f.px(30))
  position: relative
  @include m.media(laptop)

    @include m.gap($mb: f.px(22.5))
  &:not(:nth-last-child(1))::before
    content: ''
    position: absolute
    top: f.px(32)
    left: f.px(45)
    @include m.media(phone, tablet)
      top: f.px(27)
      left: f.px(27.5)
      height: 100%
    width: f.px(1)
    height: 90%
    background: #C1A5D3

.counter
  @include m.flex($jc: center, $ai: center)
  border-radius: 50%
  @include m.media(phone, tablet)
    @include m.gap($mlr: f.px(16), $p: f.px(12))
    max-width: f.px(24)
    max-height: f.px(24)
    font-size: f.px(10)
  @include m.media(laptop, desktop)
    @include m.gap($ml: f.px(30),$mr: f.px(20), $p: f.px(12, em), $pt: f.px(14,em))
    max-width: f.px(30)
    max-height: f.px(30)
    font-size: f.px(18)

    font-family: TTFirsNeue, sans-serif
  @include m.dye(bg, #6F01C6)
  @include m.dye(c, c.$white-900)

.number
  @include m.flex($jc: center, $ai: center)

.text
  @include m.media(laptop, desktop)
    width: 100%
    @include m.flex($jc: space-between)
  @include m.media(phone, tablet)
    width: f.px(280)

.desc
  @include m.media(phone, tablet)
    font-size: f.px(12)
  @include m.media(laptop, desktop)
    max-width: f.px(440)
    font-size: f.px(18)
  @include m.gap($mb: f.px(0))
  font-weight: 300

.listTitle
  color: #1A1A1A
  font-size: f.px(22)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.gap($mtb: f.px(35), $ml: f.px(30))
  @include m.media(phone, tablet)
    font-size: f.px(14)
    @include m.gap($mt: f.px(20),$mb: f.px(0), $ml: f.px(15))

.img
  // width: 700px
  object-fit: cover
  & > *
    object-fit: cover
    border-radius: 25px

.leftTitle
  @include m.gap($mt: f.px(30), $mb: f.px(45))
  color: #131313
  font-size: f.px(20)
  font-weight: 350
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mtb: f.px(10))

.leftDesc
  @include m.gap($ptb: f.px(35), $plr: f.px(20), $mt: f.px(45), $mb: f.px(0))
  background: #FEF2E8
  border-radius: 25px
  font-size: f.px(20)
  font-style: normal
  font-weight: 500
  line-height: 120%
  @include m.media(phone, tablet)
    font-size: f.px(14)
    @include m.gap($ptb: f.px(9), $plr: f.px(15), $mt: f.px(10), $mb: f.px(15))
    border-radius: f.px(15)
  & span
    color: #F87E1B

.star
  color: #F87E1B

// TODO временные стили! удалить после отката основной страницы
.ctaPadding
  @include m.gap($mb: f.px(90))
  @include m.media(phone, tablet)
    @include m.gap($mtb: f.px(35))

.youLearnPadding > section
  @include m.gap($pt: 0)

.aboutPadding
  @include m.gap($pt: f.px(90))
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(35))
