@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: flex
  flex-wrap: wrap
  align-self: center
  @include m.media(laptop, desktop)
  @include m.dye(bg, #fbf4ff)
  @include m.gap($ptb: f.px(42))
  
.wrap
  // width: 1200px

.navigation 
  width: 100%
  z-index: 10

  ul 
    padding-left: 0
    display: flex
    justify-content: space-between
    align-items: center
    list-style: none
    flex-wrap: wrap

    & li 
      margin: 10px 10px
      text-decoration: underline
      text-underline-offset: f.px(5)
      & p 
        margin: 0
        color: #000
        font-family: Stem
        font-size: 18px
        font-style: normal
        font-weight: 350
        line-height: 120%
        @include m.media(laptop)
          font-size: 14px
        // text-decoration-line: underline
        text-transform: uppercase
        &.active
          // background: red
          font-weight: bold
        &:hover
          cursor: pointer

.sticky
  transition: width 1s ease
  position: fixed
  // max-width: 100%
  width: auto
  @include m.media(desktop)
    left: 120px
    right: 120px
  @include m.media(laptop)
    left: 20px
    right: 20px
  top: 0
  border-radius: f.px(25)
  background: rgba(216, 181, 237, 0.7)
  @include m.media(phone, tablet)
    display: none

.point
  height: 1px

.active
  // background: red
  font-weight: 500