@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.section
  @include m.gap($pt: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(50),$pt: f.px(0))

.wave
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  & > span
    border-radius: f.px(10)
  @include m.media(phone, tablet)
    display: none

.waveMobile
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  & > span
    @include m.media(tablet)
      max-height: f.px(450)
      border-radius: f.px(10)
    @include m.media(phone)
      max-height: f.px(550)
  @include m.media(laptop, desktop)
    display: none

.block
  @include m.dye(bg, c.$blue-50)
  @include m.gap($plr: f.px(70), $pb: f.px(70), $pt: f.px(40))
  border-radius: f.px(10)
  min-height: f.px(600)
  position: relative
  @include m.media(phone, tablet)
    @include m.gap($plr: f.px(15), $pb: f.px(10), $pt: f.px(10))

.tag
  height: 100%
  display: inline-block
  position: relative
  @include m.gap( $mb: f.px(20))
  align-self: center
  & > *
    color: white
    @include m.media(laptop, desktop)
      top: f.px(-10)
      @include m.gap($plr: f.px(46), $ptb: f.px(8), $mb:f.px(10))
    @include m.media(phone, tablet)
      @include m.gap($plr: f.px(26))
      display: none

.title
  font-size: f.px(44)
  font-style: normal
  font-weight: 500
  line-height: 120%
  max-width: f.px(800)
  @include m.gap($mb: f.px(30))
  position: relative
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(40))
    font-size: f.px(30)
    line-height: 110%
    &::after
      content: 'ОППЛ'
      position: relative
      top: f.px(-5)
      font-size: f.px(12)
      background: #F87E1B
      color: white
      @include m.gap($ptb: f.px(4), $plr: f.px(23), $ml: f.px(10))
      border-radius: f.px(50)
      font-weight: 350

.header
  @include m.flex($jc: space-between)

.logo
  @include m.media(phone, tablet)
    top: f.px(10)
    left: f.px(10)
    position: absolute
    width: f.px(40)
    height: f.px(60)

.description
  font-size: f.px(20)
  font-style: normal
  font-weight: 500
  line-height: 130%
  max-width: f.px(700)
  @include m.gap($mb: f.px(30))
  position: relative
  @include m.media(phone, tablet)
    font-size: f.px(15)
    font-style: normal
    font-weight: 500
    line-height: 130%

.readMore
  display: inline-flex
  @include m.gap($plr: f.px(50), $ptb: f.px(18))
  @include m.flex($jc: center, $ai: center)
  border-radius: f.px(4)
  @include m.dye(bg, c.$blue-900)
  @include m.dye(c, white)
  position: relative
  @include m.media(phone, tablet)
    width: 100%

.filter
  border-radius: f.px(10)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: white
  opacity: 0.3
  min-height: f.px(634)

.hiddenBlock
  @include m.gap($mt: f.px(60))
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(30))

.hiddenTitle
  display: inline-block
  max-width: f.px(800)
  font-size: f.px(44)
  font-style: normal
  font-weight: 500
  line-height: 120%
  max-width: f.px(800)
  @include m.gap($mb: f.px(30))
  position: relative
  @include m.media(phone, tablet)
    max-width: f.px(500)
    font-size: f.px(28)
    font-style: normal
    font-weight: 500
    line-height: 110%

.content
  display: flex
  @include m.media(phone, tablet)
    @include m.flex($fd: column, $ai: center)

.image
  border-radius: f.px(20)

.list
  position: relative
  @include m.gap($plr: f.px(20), $ptb: f.px(40), $ml: f.px(60), $mtb:0)
  border-radius: f.px(20)
  border: f.px(1) solid
  @include m.dye(border, c.$blue-900)
  max-width: f.px(530)
  @include m.media(laptop)
    max-width: f.px(500)
  @include m.media(phone, tablet)
    @include m.gap($ml: f.px(0),$plr: f.px(10), $mt: f.px(15), $ptb: f.px(30))
