@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(90))
    @include m.gap($pt: 0)
    & > *
      @include m.flex
    & .content
      @include m.flex($display: false, $fb: 66%)
      @include m.gap($ml: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(20))

.sorting
  @include m.flex($fd: row)
  width: 100%
  @include m.gap($plr: f.px(15, em))
  @include m.media(desktop, laptop)
    max-width: f.px(1200, em)
    @include m.gap($m: 0 auto)
  @include m.media(phone, tablet)
    @include m.flex($fd: column)

.filters
  @include m.media(laptop, desktop)
    @include m.flex($display: false, $fb: 30%)
    @include m.gap($mt: f.px(40))
  @include m.media(phone, tablet)
    display: none

.content
  @include m.gap($mt: f.px(70))
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(20))

.programs
  display: grid
  height: 100%
  grid-template-columns: repeat(2, minmax(min-content, f.px(371)))
  gap: f.px(20)
  align-items: stretch
  justify-self: stretch
  @include m.gap($mb: f.px(90))

  & > *
    margin-bottom: 10px
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(60))
    display: flex
    flex-direction: column
