@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  background: #fbf4ff
  padding-bottom: 0
  & h2
    font-size: f.px(44)
    font-weight: 500
    @include m.gap($pt: f.px(28), $mb: f.px(30))
    @include m.media(phone, tablet)
      @include m.gap($mb: f.px(15))
      font-size: f.px(26)


.flexContainer
  display: flex
  @include m.media(phone, tablet)
    flex-direction: column

.left
  position: relative
  padding-bottom: 0
  & p
    font-size: f.px(18)
    font-weight: 350
    line-height: 130%
    @include m.media(phone, tablet)
      font-size: f.px(15)

.right
  align-self: center
  @include m.gap($mt: f.px(35), $mb: f.px(15))
  
.img  
  display: inline-block
  position: relative
  z-index: 2
  @include m.media(phone, tablet)
    display: none

.icon 
  position: absolute
  bottom: f.px(0)
  left: f.px(-50)
  z-index: 1
  @include m.media(phone, tablet)
    display: none

.item
  display: flex
  align-self: center
  

.itemIcon
  height: max-content
  scale: 2
  flex-basis: 10%
  align-self: baseline
  &>*
    @include m.gap($pt: f.px(5))

.p
  @include m.gap($pl: f.px(35))
  line-height: 130%
  font-size: f.px(18)
  font-style: normal
  font-weight: 350
  @include m.media(phone, tablet)
      font-size: f.px(15)