@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  display: inline-block
  font-weight: 500
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30), $pt: f.px(15))
    font-size: f.px(44)
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))
    font-size: f.px(26)
    max-width: f.px(200)

.selects
  display: grid
  grid-auto-columns: 1fr 1fr 1fr
  grid-auto-flow: column
  column-gap: f.px(30)
  @include m.media(phone, tablet)
    grid-auto-columns: auto
    grid-auto-flow: row
    row-gap: f.px(10)
