@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container

.title
  @include m.gap($mb: f.px(10, em))
  font-size: f.px(26)
  font-weight: 500
  @include m.dye(c, c.$theta)

.subTitle
  @include m.gap($mb: f.px(5, em))
  font-size: f.px(24)
  font-weight: 400
  @include m.dye(c, c.$theta)

.subsubTitle
  @include m.gap($mb: f.px(20, em))
  font-size: f.px(15)
  font-weight: 300
  @include m.dye(c, c.$kappa)

.course
  @include m.flex
  @include m.gap($mb: f.px(10), $ptb: f.px(20), $plr: f.px(15))
  border-radius: f.px(10)
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  @include m.dye(bg, c.$nu)

.courseTitle
  @include m.gap($mb: 0)
  font-size: f.px(15)
  font-weight: 400

.coursesList
  @include m.gap($p: 0)

.courseImg
  max-width: f.px(139)
  @include m.gap($mr: f.px(23))
  border-radius: f.px(5)
  overflow: hidden

.courseText
  max-width: 50%

.courseInfo
  @include m.flex($jc: space-between, $ai: center)
  @include m.gap($mb: f.px(20))

.typeLabel
  @include m.gap($ptb: f.px(4), $plr: f.px(17))
  border-radius: f.px(23)
  font-size: f.px(11)
  text-transform: uppercase
  @include m.dye(bg, c.$mu)
  @include m.dye(c, c.$kappa)

.durLabel
  font-size: f.px(11)
