@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.dye(bg, c.$purple-800)
  @include m.flex($fd: column, $jc: space-between)
  @include m.gap($mb: f.px(60))
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(20))

.content
  max-width: f.px(1400)
  position: relative
.bg
  z-index: 0
  top: 0
  right: 0
  @include m.media(phone, tablet)
    height: 91%
  @include m.media(laptop, desktop)
    height: 91%
  width: 100%
  @include m.dye(bg, c.$purple-800)

.title
  position: relative
  @include m.dye(c, c.$white-900)
  font-weight: 500
  line-height: 110%
  z-index: 1
  @include m.media(laptop, desktop)
    max-width: 18ch
    @include m.gap($mb: f.px(30))
    font-size: f.px(40)
  @include m.media(tablet)
    font-size: f.px(26)
    max-width: f.px(400)
    @include m.gap($mb: f.px(15))
  @include m.media(phone)
    font-size: f.px(26)
    max-width: f.px(320)
    @include m.gap($mb: f.px(15))

.btns
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.flex

.btn
  @include m.media(phone, tablet)
    display: none
  & > *
    width: 100%
    & > *
      width: 100%
  &:nth-child(1)
    @include m.media(phone, tablet)
      @include m.gap($mb: f.px(17))
    @include m.media(laptop, desktop)
      @include m.gap($mr: f.px(24))

.left
  position: relative
  z-index: 2
  @include m.media(laptop, desktop)
    min-width: f.px(670)
    @include m.gap($mt: f.px(40))

.right
  @include m.media(laptop, desktop)
    position: relative
    display: flex
    align-items: flex-start

.img
  position: absolute
  z-index: 1
  @include m.media(laptop, desktop)
    transform: scale(1.1) translate(0%, f.px(52))
    right: 0
    width: f.px(454)
    height: f.px(437)
  @include m.media(laptop)
    transform: translate(20%, f.px(92))
  @include m.media(phone, tablet)
    display: none

.mobileBtn
  position: relative
  z-index: 10
  @include m.gap($mt:f.px(10))
  @include m.media(laptop, desktop)
    display: none

.portals
  position: relative

.smallOne
  z-index: 2
  position: absolute
  bottom: f.px(-40)
  right: f.px(650)
  @include m.media(tablet)
    display: none
  @include m.media(phone)
    bottom: f.px(280)
    left: f.px(200)
    transform: scale(0.5)

.pointShadow
  width: f.px(1)
  height: f.px(1)
  box-shadow: rgba(182, 210, 244, 0.2) 10px 17px 149px 170px
  position: absolute
  bottom: f.px(-150)
  right: f.px(180)

.xsmall
  position: absolute
  bottom: f.px(-70)
  right: f.px(-20)
  @include m.media(phone, tablet)
    bottom: f.px(120)
    right: f.px(0)
    transform: scale(0.7)

.medium
  z-index: 2
  position: absolute
  @include m.media(laptop, desktop)
    bottom: f.px(-240)
    right: f.px(-120)
    transform: scale(1.7)
  @include m.media(phone, tablet)
    display: none

.big
  position: absolute
  bottom: f.px(-300)
  right: f.px(1220)
  transform: rotate(5deg) scale(0.8)
  @include m.media(phone, tablet)
    display: none

.tenPx
  z-index: 2
  position: absolute
  @include m.media(laptop, desktop)
    bottom: f.px(-100)
    right: f.px(800)
  transform: rotate(25deg)
  @include m.media(phone, tablet)
    bottom: f.px(120)
    left: f.px(0)

.thirtyPx
  z-index: 2
  position: absolute
  @include m.media(laptop, desktop)
    bottom: f.px(-300)
    right: f.px(650)
  transform: rotate(5deg) scale(0.7)
  @include m.media(phone, tablet)
    display: none
