@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.block
  position: relative

.title
  font-size: f.px(44)
  font-weight: 500
  @include m.media(phone, tablet)
    font-size: f.px(26)
    line-height: 120%
    @include m.gap($mb: f.px(15))

.cardList
  display: grid
  gap: f.px(20)
  column-gap: f.px(30)
  grid-template-columns: auto auto auto
  @include m.media(tablet)
    grid-template-columns: auto auto
    gap: f.px(10)
    column-gap: f.px(15)
  @include m.media(phone)
    grid-template-columns: auto
    gap: f.px(10)
    column-gap: f.px(30)

.card
  border-radius: f.px(25)
  box-shadow: f.px(4) f.px(4) f.px(15) 0 #F5E7FF
  border: f.px(1) solid
  @include m.dye(border, c.$alpha)
  cursor: pointer
  transition: transform 0.6s, box-shadow 0.6s
  min-height: f.px(140)
  transform-style: preserve-3d
  position: relative
  font-size: f.px(10)
  @include m.media(tablet)
    min-height: f.px(120)
  @include m.media(phone)
    min-height: f.px(100)
  &:hover
    transform: rotateY(15deg)
    box-shadow: f.px(10) 0 f.px(15) 0 rgba(50,50,50,.1)

  &.flipped
    transform: rotateY(180deg)

  .front, .back
    border-radius: f.px(25)
    @include m.gap($p: f.px(10))
    position: absolute
    width: 100%
    height: 100%
    display: flex
    align-items: center
    line-height: f.px(14)

  .front
    @include m.gap($pl: f.px(20))
    font-size: f.px(18)
    backface-visibility: hidden
    @include m.media(tablet)
      padding-left: f.px(15)
    & p
      @include m.media(desktop)
        max-width: f.px(270)
      @include m.media(laptop)
        max-width: f.px(248)
      font-size: f.px(18)
      font-weight: 500
      line-height: 120%
      margin: 0
      padding-left: f.px(30)
      @include m.media(tablet)
        padding-left: f.px(10)
        font-size: f.px(13)
      @include m.media(phone)
        padding-left: f.px(10)
        font-size: f.px(14)

  .back
    font-weight: 400
    font-size: f.px(18)
    transform: rotateY(180deg)
    backface-visibility: hidden
    & p
      font-size: f.px(16)
      line-height: 130%
      @include m.gap($plr: f.px(15), $mb: 0)
      @include m.media(tablet)
        @include m.gap($pr: f.px(0), $pl: f.px(10))
        font-size: f.px(12)
      @include m.media(phone)
        font-size: f.px(14)

.info
  position: absolute
  right: f.px(15)
  top: f.px(10)
