@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.container
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(50))
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(95))
  @include m.dye(bg, c.$epsilon)

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
    font-size: f.px(44)
  font-weight: 500

.phonetablet
  @include m.media(laptop, desktop)
    display: none

.laptopdesktop
  @include m.media(phone, tablet)
    display: none

.content
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(26), $plr: f.px(19))
    border-radius: f.px(25) 0 0 0
  @include m.media(laptop, desktop)
    @include m.flex
    // @include m.gap($pt: f.px(72), $pb: f.px(46), $plr: f.px(70))
    border-radius: f.px(100) 0 0 0
  // box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  // @include m.dye(bg, c.$nu)

.left
  @include m.media(laptop, desktop)
    position: relative
    max-width: f.px(785)
    @include m.flex($display: false, $fb: 75%)
    // @include m.gap($pr: f.px(70))
    // &::after
    //   content: ''
    //   position: absolute
    //   top: 0
    //   right: 0
    //   width: f.px(100)
    //   clip-path: inset(0 f.px(-40) 0 0)
    //   height: calc(100% + #{f.px(72) + f.px(46)})
    //   transform: translateY(f.px(-72))
    //   box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)

.heading
  @include m.media(phone, tablet)
    @include m.flex($jc: space-between)
  @include m.media(laptop, desktop)
    @include m.flex($fd: column, $jc: space-between)
  position: relative

.info
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.flex
    // max-width: f.px(529)
    // @include m.gap($mb: f.px(11), $pb: f.px(2))
    border-bottom: f.px(1) solid
    @include m.dye(border, c.$mu)

.infoitem
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(30))
  &:first-child
    .infoval
      &::before
        content: 'до '

.infokey
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(5))
    font-size: f.px(13)
    font-weight: 300
    @include m.dye(c, rgba(c.$chi, .5))

.infoval
  @include m.media(laptop, desktop)
    font-size: f.px(13)
    font-weight: 500

.subtitle
  @include m.dye(c, c.$alpha)
  @include m.media(phone, tablet)
    max-width: 70%
    @include m.gap($mb: f.px(18))
    font-size: f.px(20)
    font-weight: 500
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(31))
    font-size: f.px(34)
    font-weight: 500

.discount
  @include m.media(phone, tablet)
    position: absolute
    top: 0
    right: 0
    transform: translate(10%, -20%)
  @include m.media(laptop, desktop)
    @include m.gap($ml: f.px(38))
    // position: absolute
    // top: f.px(-40)
    // right: f.px(-130)
    // transform: translate(10%, -20%)
    z-index: 2

.cost
  @include m.gap($mb: f.px(10))
  @media screen and ( max-width: 405px)
    & > *
      & > *:nth-child(1)
        display: block
  @media screen and ( max-width: 985px ) and (min-width: bp.$tablet)
    & > *
      & > *:nth-child(1)
        display: block
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(45))

.btns
  @include m.media(phone, tablet)
    @include m.flex($jc: space-evenly, $ai: center)
  @media screen and ( max-width: 985px ) and (min-width: bp.$tablet)
    @include m.flex($fd: column)
  @include m.media(laptop, desktop)
    @include m.flex

.btncta
  @include m.media(phone, tablet)
    @include m.flex($jc: center, $fb: 55%)
    @include m.gap($mr: 5%)
    & > *
      width: 100%
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(10))
  @media screen and ( max-width: 985px ) and (min-width: bp.$tablet)
    @include m.gap($mb: f.px(10), $mr: 0)
    & > *
      width: 100%
      & > *
        width: 100%

.btnquestion
  @include m.media(phone, tablet)
    display: none
  @media screen and ( max-width: 985px ) and (min-width: bp.$tablet)
    & > *
      width: 100%
      & > *
        width: 100%
  @include m.media(laptop, desktop)
    & > * > *
      @include m.gap($plr: f.px(28))

.btnmore
  @include m.media(phone, tablet)
    @include m.flex($jc: center, $fb: 40%)
  @include m.media(laptop, desktop)
    display: none

.right
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    @include m.gap($pl: f.px(20))
    @include m.flex($display: false, $fb: 45%)

.point
  @include m.media(laptop, desktop)
    @include m.flex
    @include m.gap($mb: f.px(11))
    font-size: f.px(18)
    font-weight: 300

.pointicon
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(22))