@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
.container
  @include m.gap($pb: f.px(91))
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(30))

  background: #FDFDFD
.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(12))
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$theta)

.desc
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mb: f.px(7))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
    font-size: f.px(20)
  @include m.dye(c, c.$theta)

.highlight
  font-weight: 500

.teachers
  position: relative
  @include m.media(laptop, desktop)
    // @include m.gap($mb: f.px(50, em))
  @include m.media(phone, tablet)
    // @include m.gap($mb: f.px(30))
    height: 200px
    & > *
      height: 200px

.btnContainer
  @include m.media(phone, tablet)
    display: none
  @include m.media(laptop, desktop)
    text-align: center