@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container

.title
  display: inline-block
  font-weight: 500
  @include m.gap($pt: f.px(15), $pb: f.px(15), $mb: f.px(0))
  @include m.media(laptop, desktop)
    font-size: f.px(44)
  @include m.media(tablet, phone)
    @include m.gap($pt: f.px(0), $pb: f.px(0))
    font-size: f.px(30)

.tag
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(15))
  & > *
    @include m.gap($ptb: f.px(8), $plr: f.px(20))

.heading
  @include m.media(laptop, desktop)
    transform: translateY(f.px(60))
  @include m.media(phone, tablet)
    transform: translateY(f.px(30))
