@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.gap($mb: f.px(70, em))

.title
  @include m.gap($mb: f.px(1, em))
  font-size: f.px(26)
  font-weight: 500

.desc
  @include m.gap($mb: f.px(31, em))
  font-size: f.px(15)
  font-weight: 300
  @include m.dye(c, c.$kappa)

.cards
  @include m.flex($jc: space-between)
  overflow-x: auto
  @include m.media(phone, tablet)
    @include m.gap($mr: 0, $mb: f.px(46, em))
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(30, em))
