@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.block
  position: relative
  z-index: 2
.container
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(30), $pb: f.px(43))
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(90))
  @include m.dye(bg, #FFF)

.title
  display: inline-block
  z-index: 2
  white-space: nowrap
  position: inherit
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(35))
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$theta)

.list
  z-index: 2
  position: inherit
  margin: 0
  padding: 0
  @include m.media(laptop, desktop)
    @include m.flex($fw: wrap)

.item
  z-index: 3
  text-align: center
  justify-content: center
  border: 1px solid #6F01C6
  border-radius: f.px(25)
  max-height: f.px(140)
  min-height: f.px(140)
  align-items: center
  background: #FFF
  @include m.media(phone, tablet)
    border: 0.7px solid #6F01C6
    max-height: f.px(90)
    min-height: f.px(90)
    @include m.flex
    @include m.gap($mb: f.px(15), $plr: f.px(35), $ptb: f.px(10))
    & > *
        max-width: f.px(420)
    &:nth-child(5)
      & > *
        max-width: f.px(220)
    &:nth-child(6)
      & > *
        max-width: f.px(190)
  @include m.media(laptop, desktop)
    @include m.flex($fb: 31%)
    @include m.gap($mr: 3%, $mb: f.px(20), $ptb: f.px(15), $plr: f.px(40))
    &:nth-child(5)
      @include m.gap($plr: f.px(80))
    &:nth-child(6)
      @include m.gap($plr: f.px(80))
    &:nth-child(3n)
      @include m.gap($mr: 0)

.p
  font-size: f.px(14)
  font-weight: 350
  line-height: 130%
  @include m.gap($mb: 0)
    

.learnIcon, .learnIconMain
  position: absolute
  z-index: 0
  // overflow: hidden
  @include m.media(laptop, desktop)
    top: f.px(-200)
    right: f.px(-150)
  @include m.media(phone, tablet)
    // overflow: hidden
    z-index: 1
    top: f.px(-105)

.learnIconMain
  top: f.px(-155)
  right: f.px(-156)
  transform: rotate(-35deg)
  @include m.media(phone, tablet)
    display: none

.tag
  z-index: 2
  height: 100%
  display: inline-block
  position: relative
  @include m.gap( $mb: f.px(20))
  align-self: center
  & > *
    position: absolute
    @include m.media(laptop, desktop)
      top: -10px
      left: 25px
      @include m.gap($plr: f.px(26), $ptb: f.px(8), $mb:f.px(10))
    @include m.media(phone, tablet)
      @include m.gap($plr: f.px(20), $ptb: f.px(5), $mb:f.px(10))
      top: f.px(-30)
      left: f.px(-339)