@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.gap($mb: f.px(10), $pt: f.px(50))
  @include m.dye(bg, c.$pi)

.title
  @include m.gap($mb: f.px(10))
  font-size: f.px(26)
  font-weight: 500

.subtitle
  @include m.gap($mb: f.px(40))
  font-size: f.px(15)
  font-weight: 300
  line-height: 130%

.list
  @include m.gap($p: 0)

.item
  @include m.flex($fd: column, $jc: center, $ai: center)

.icon
  @include m.gap($mb: f.px(22))

.p
  max-width: 23ch
  text-align: center
  font-size: f.px(15)
  line-height: 130%
