@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(50))
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(100))

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(10))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    max-width: 11ch
    @include m.gap($mb: f.px(10))
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$theta)

.subtitleContainer
  position: relative
  z-index: 2
  background-color: c.$nu
  @include m.media(desktop)
    @include m.flex($display: false, $fb: 50%)

.subtitle
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mb: f.px(20))
  @include m.media(laptop, desktop)
    max-width: 33ch
    @include m.gap($mb: f.px(24))
    font-size: f.px(20)
  font-weight: 300
  @include m.dye(c, c.$theta)

.content
  @include m.media(laptop, desktop)
    @include m.flex

.left
  @include m.media(laptop, desktop)
    @include m.gap($mr: f.px(30))

.swiper
  position: relative
  z-index: 1
  overflow: hidden
  @include m.media(phone)
    @include m.gap($pb: f.px(50))
  @include m.media(tablet, laptop)
    @include m.gap($mb: f.px(20))
  @include m.media(laptop, desktop)
    max-width: 50%

.desktopBtnContainer
  @include m.media(phone, tablet)
    display: none

.mobileBtnContainer
  @include m.media(laptop, desktop)
    display: none
