@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(70))
  @include m.media(phone, tablet)
    @include m.gap($pb: f.px(50))

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
    font-size: f.px(44)
  font-weight: 500
  @include m.dye(c, c.$theta)

.content
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(30), $plr: f.px(26))
    border-radius: f.px(10)
  @include m.media(laptop, desktop)
    @include m.gap($ptb: f.px(30), $plr: f.px(100))
    border-radius: f.px(20)
  box-shadow: 0 f.px(4) f.px(40) rgba(0, 0, 0, .05)
  @include m.dye(bg, c.$nu)

.top
  @include m.media(phone, tablet)
    justify-content: space-between
    @include m.flex($ai: center)
    @include m.gap($pb: f.px(25))
    border-bottom: 1px solid #D1D1D1
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(40), $pb: f.px(40))
    position: relative
    @include m.flex($ai: center)

.img
  @include m.media(phone, tablet)
    min-width: f.px(72)
    max-width: f.px(72)
    min-height: f.px(72)
    max-height: f.px(72)
    @include m.gap($mr: f.px(20))
  @include m.media(laptop, desktop)
    min-width: f.px(90)
    max-width: f.px(90)
    min-height: f.px(90)
    max-height: f.px(90)
    @include m.gap($mr: f.px(31))
  border-radius: 50%
  overflow: hidden

.headings
  width: 100%
  @include m.flex($jc: space-between)
  @include m.media(laptop, desktop)
    max-width: f.px(560)
  @include m.media(phone, tablet)
    align-items: center

.heading
  @include m.media(phone, tablet)
    align-self: center
    // @include m.gap($mb: f.px(13))

.headingLeft
  @include m.media(laptop, desktop)
    flex-basis: 70%

.p
  // @include m.gap($mb: f.px(5))
  font-size: f.px(13)
  @include m.dye(c, c.$kappa)

.h3
  color: #6F01C6
  font-weight: 500
  @include m.gap($mb: 0)
  @include m.media(phone, tablet)
    font-size: f.px(15)
  @include m.media(laptop, desktop)
    font-size: f.px(28)

.salary
  margin: 0 auto
  font-size: 37px
  font-style: normal
  font-weight: 700
  @include m.media(phone, tablet)
    font-size: f.px(15)

.list
  flex-basis: 50%
  @include m.gap($p: 0)
  @include m.media(phone, tablet)
    list-style-type: none
    // color: red
    li
      display: flex

      &::before
        content: '•'
        color: red
  @include m.media(laptop, desktop)
    margin-top: 0
    // @include m.flex($fw: wrap, $jc: space-between)
  ul
    &::before
      content: '•'
      color: red
      // transform: scale(2.2)
.item
  @include m.media(phone, tablet)
    @include m.gap($pl: f.px(12))
  @include m.media(laptop, desktop)
    @include m.flex($ai: center, $fb: 47%)
    @include m.gap( $pl: f.px(19))
    &:nth-child(odd)
      @include m.gap($mr: 5%)
    &::before
      content: '•'
      color: #F87E1B
      font-size: f.px(35)
      @include m.gap($mr: f.px(19))

.left
  @include m.flex($fb: 47%)
  flex-direction: column
.itemText
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($pl: f.px(15))
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(10))
    font-size: f.px(18)
    line-height: 120%
  font-weight: 300

.bottomContent
  display: flex
  @include m.media(phone, tablet)
    flex-direction: column
    
  // flex-direction: column

.right
  flex-basis: 50%
  @include m.media(laptop, desktop)
    @include m.gap($mt: f.px(47), $ml: f.px(60))
  // margin-top: f.px(57)
  font-size: f.px(18)
  font-style: normal
  font-weight: 350
  @include m.media(phone, tablet)
    // font-weight: 350
    @include m.gap($pl: f.px(25))
    font-size: f.px(14)
    padding-top: f.px(15)
    border-top: 1px solid #D1D1D1

.skills
  @include m.gap($pl: f.px(50))
  font-size: 22px
  font-style: normal
  font-weight: 500
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($pt: f.px(15), $pl: f.px(15), $mb: f.px(0))