@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(25))
    font-size: f.px(44)
    font-weight: 500

.time
  display: flex
  align-items: center
  @include m.gap($mb: f.px(20))
  p
    @include m.gap($mb: f.px(0), $ml: f.px(10))
    color: #B3B3B3
    font-size: f.px(15)
    @include m.media(phone, tablet)
      font-size: f.px(12)

.darkPurple
  @include m.dye(c, c.$dark-purple)
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(30))
    font-size: f.px(34)

.playerWrapper
  position: relative
  border-radius: f.px(36)
  width: 100% !important
  height: 550px !important
  @include m.media(tablet)
    height: 350px !important
  @include m.media(phone)
    height: 210px !important
  iframe
    position: absolute
    width: 100%
    height: 100%
    border-radius: f.px(36)
    border: f.px(2) solid
    @include m.dye(border, c.$alpha)
