@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f

.title
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(15))
    font-size: f.px(26)
  @include m.media(laptop, desktop)
    @include m.gap($mb: f.px(30))
    font-size: f.px(44)
  font-weight: 500