@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/mixin/media' as bp

.directionsMobile
  width: 100%
  @include m.media(desktop, laptop)
    display: none

.item
  @include m.media(desktop, laptop)
    height: 100%
  display: flex
  justify-content: space-between
  align-items: center
  border-bottom: f.px(1) solid c.$purple-400
  font-weight: 500
  font-family: Stem, sans-serif
  font-size: f.px(18)
  @include m.gap($mt: f.px(20), $pt: f.px(10), $pb: f.px(15))
  &:hover
    @include m.dye(c, c.$purple-400)
    cursor: pointer
  @include m.media(phone, tablet)
    margin: 0 auto
    @include m.gap($mt: f.px(10), $pt: f.px(10), $pb: f.px(17))
    font-size: f.px(16)

.desktopPopup
  &:nth-of-type(1)
    .item, .itemCourse
      align-items: flex-start
  &:nth-of-type(9)
    .item, .itemCourse
      align-items: flex-start
  @include m.media(phone, tablet)
    display: none

.viewAll
  @include m.dye(c, c.$purple-400)
  text-decoration-line: underline
  font-weight: 500
  font-size: f.px(16)
  display: inline-block
  @include m.gap($mb: f.px(26))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20), $mt: f.px(30))

.icon
  transform: rotate(180deg)
  transform-origin: center center
  transition: transform 0.3s ease

.rotateIcon
  transform: rotate(0deg)
  transform-origin: center center
  transition: transform 0.3s ease

.labelViolet
  @include m.dye(c, c.$purple-400)

.iconDesktop
  @include m.gap($mr: f.px(48))
  transform: scale(1.1)
  transform: rotate(-90deg) scale(1.2)
