@use '@/styles/utils/mixin' as m
@use '@/styles/themes/default/colors' as c
@use '@/styles/utils/funcs' as f

.container
  // display: inline-block

.logo
  display: inline-block
  // margin: f.px(15)
  // margin: 1em
  @include m.cushion(f.px(15, em))
  @include m.dye(c, c.$nu)

.atHeader
  margin-left: 0
  padding-left: 0

.icon
  display: inline-block
  width: f.px(33 + 28)
  height: f.px(40)
  padding-right: f.px(28, em)
  position: relative
  &::after
    content: ''
    position: absolute
    width: f.px(1)
    height: 100%
    margin-left: f.px(14)
    @include m.dye(bgc, c.$gamma)
  & svg path
    @include m.dye(fill, c.$nu)

.title
  margin: 0
  display: inline-block
  font-family: Geometria
  font-size: f.px(11)
  line-height: f.px(14)
  text-transform: uppercase
