@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: flex
  justify-content: center
  overflow: auto
  border-radius: f.px(20)
  @include m.dye(bg, #FBF4FF)
  @include m.gap($mtb: f.px(50))
  @include m.media(phone, tablet)
    border-radius: f.px(0)
    justify-content: flex-start

.table
  margin: f.px(20)
  border-spacing: 0
  overflow: auto
  border: f.px(1) solid black
  @include m.media(phone, tablet)
    margin: 0

  tbody
    th
      border: f.px(1) solid black
      @include m.gap($p: f.px(50))
      font-size: f.px(20)
      font-weight: 500
      &:nth-child(even)
        @include m.dye(c, white)
        @include m.dye(bg, c.$purple-300)
      @include m.media(phone, tablet)
        font-size: f.px(16)
        @include m.gap($p: f.px(25))

    tr
      td
        font-size: f.px(18)
        font-weight: 500
        @include m.dye(c, #4C4545)
        @include m.gap($p: f.px(32))
        border: f.px(1) solid black
        max-width: f.px(350)
        height: max-content
        text-align: center
        &:nth-child(1)
          @include m.dye(c, black)
          font-size: f.px(20)

        @include m.media(phone, tablet)
          font-size: f.px(14)
          @include m.gap($p: f.px(26))
          &:nth-child(1)
            @include m.gap($p: f.px(26))
            @include m.dye(c, black)
            font-size: f.px(16)
