@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  display: flex
  justify-content: center
  overflow: auto
  border-radius: f.px(20)
  @include m.gap($mtb: f.px(50))
  @include m.media(phone, tablet)
    border-radius: f.px(0)

.table
  
  margin: f.px(20)
  border-spacing: 0px
  overflow: auto
  border-bottom: f.px(1) solid black
  @include m.media(phone, tablet)
    margin: f.px(0)
  
  tbody
    
    // border-radius: 10px
    tr
      td
        // display: flex
        // white-space: nowrap
        // border-radius: 10px
        // border: 2px solid black
        max-width: f.px(350)
        height: max-content
        @include m.gap($plr: f.px(8), $ptb: f.px(10))
        text-align: center
        // &:nth-child(1)
        border-top: 1px solid black
        border-left: 1px solid black
        
        &:last-child
          // background: red
          border-right: 1px solid black
        &:nth-child(2)
          border-left: none

        &:first-child
          // background-color: red
          border-right: 1px solid black
          position: sticky
          left: 0
          z-index: 1
  