@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.relatedPrograms
  background-color: #FFFAEB
  border-radius: f.px(40)
  @include m.gap($mtb: f.px(90))
  @include m.media(phone, tablet)
    @include m.gap($mtb: f.px(45))

.innerBox
  
  background: url('/assets/imgs/article/articleBgRelatedPrograms.png')
  background-position: center center
  background-size: cover
  // object-fit: contain
  background-repeat: no-repeat
  // aspect-ratio: 6 / 10
  // overflow: hidden
  border-radius: f.px(40)
  @include m.gap($pt: f.px(230), $pl: f.px(50), $pb: f.px(174))
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(75), $pl: f.px(0), $pb: f.px(34))

.relatedProgramsTitle
  @include m.media(phone, tablet)
    display: flex
    justify-content: center
  p
    font-size: f.px(40)
    @include m.media(phone, tablet)
      font-size: f.px(20)
    

.title
  max-width: f.px(920)
  @include m.media(phone, tablet)
    justify-self: center
    // width: 100%
    max-width: f.px(260)
    text-align: center

.relatedProgramsProgram
  display: flex
  justify-content: center
  @include m.gap($mb: f.px(15), $mr: f.px(35))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(10), $mlr: f.px(15))
    justify-content: center
    // align-items: flex-end

.programTitle
  width: 100%
  font-size: f.px(20) !important
  max-width: f.px(300)
  @include m.gap($mb: f.px(0), $pl: f.px(23), $mr: f.px(120))
  @include m.media(phone, tablet)
    font-size: f.px(10) !important
    font-weight: 100 !important
    max-width: f.px(150)
    @include m.gap($plr: f.px(0), $mb: f.px(10), $mr: f.px(0))
    

.imgBox
  min-width: f.px(200)
  @include m.media( tablet)
    min-width: f.px(100)
    max-width: f.px(150)
    @include m.gap($mr: f.px(15))
  @include m.media(phone)
    min-width: f.px(80)
    max-width: f.px(80)
    @include m.gap($mr: f.px(10))
.img
  border-radius: f.px(10)
  object-fit: cover

.link
  white-space: nowrap
  background: #F87E1B
  align-self: center
  @include m.gap($plr: f.px(70), $ptb: f.px(16))
  @include m.media(laptop )
    @include m.gap($plr: f.px(40))

  color: white
  font-size: f.px(18)
  font-weight: 500
  border-radius: f.px(4)
  height: fit-content
  @include m.media(phone, tablet)
    // display: none
    // width: 100%
    align-self: flex-start
    @include m.gap($plr: f.px(22), $ptb: f.px(10))
    font-size: f.px(10)

.linkBox
  display: flex
  height: 100%
  // align-self: baseline