@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.imgBox
  display: flex

.imgTitleContainer
  flex: 0.67
  @include m.media(phone, tablet)
    flex: 1

.articleTitle
  font-size: f.px(65)
  line-height: 110%
  font-weight: 500
  @include m.gap($mt: f.px(17), $mb: f.px(30))
  @include m.media(tablet)
    font-size: f.px(33)
  @include m.media(phone)
    font-size: f.px(30)

.authors
  font-size: f.px(18)
  width: fit-content
  font-weight: 350
  @include m.flex($jc: space-between, $ai: center)
  @include m.media(laptop)

  @include m.media(phone, tablet)
    width: f.px(300)
    @include m.flex($fd: column, $ai: flex-start)
    font-size: f.px(14)
    gap: f.px(10)

.imgAuthorContainer
  margin-right: f.px(10)

.tag
  display: inline-block
  @include m.dye(c, c.$alpha)
  border: f.px(1) solid
  @include m.dye(border, c.$alpha)
  @include m.gap($mtb: f.px(30), $plr: f.px(17), $ptb: f.px(9))
  border-radius: f.px(24)
  font-size: f.px(18)
  font-weight: 500
  text-transform: uppercase
  letter-spacing: f.px(2)
  @include m.media(phone, tablet)
    font-size: f.px(10)
    @include m.gap($mtb: f.px(35), $plr: f.px(10), $ptb: f.px(5))

.imgTitle
  border-radius: f.px(10)
  object-fit: fill

.imgTeacherWithAchievements
  flex: 0.33
  border: f.px(1) solid
  @include m.dye(border, c.$alpha)
  border-radius: f.px(10)
  @include m.gap($mb: f.px(4), $ml: f.px(10))
  @include m.flex($jc: center)
  position: relative
  @include m.media(phone, tablet)
    display: none

.imgTeacherContainer
  @include m.flex($fd: column)

.achievements, .teacherName
  text-align: center
  margin: 0 auto
  @include m.gap($mb: f.px(10))

.achievements
  font-size: f.px(18)
  font-weight: 350
  @include m.media(laptop,tablet)
    font-size: f.px(16)

.teacherName
  font-weight: 500
  font-size: f.px(22)
  @include m.media(laptop)
    font-size: f.px(18)

.teacherText
  font-size: f.px(18)
  @include m.flex($ai: center, $fd: column)
  position: absolute
  bottom: f.px(50)
  text-align: center
  font-weight: 350
  @include m.media(laptop)
    bottom: f.px(20)

.imgTeacher
  @include m.gap($mlr: f.px(50))
  transform: scaleX(0.6) scale(0.7)
  @include m.media(laptop)
    @include m.gap($mlr: f.px(30))
    transform: scaleX(0.75) scale(0.6) translateY(-15%)

.dateAndTime
  @include m.flex($ai: center, $jc: space-between)
  @include m.media(laptop)
    font-size: f.px(15)
  @include m.media(tablet, phone)
    width: f.px(190)
    @include m.flex($jc: space-between)
    @include m.gap($pr: f.px(0))

.time
  @include m.flex($ai: center, $jc: space-between)

.date
  @include m.gap($pr: f.px(70))
  @include m.media(laptop)
    @include m.gap($pr: f.px(40))
  @include m.media(tablet, phone)
    @include m.gap($pr: f.px(30))

.author
  @include m.gap($pr: f.px(50))
  @include m.flex($fd: row, $ai: center)
  @include m.media(laptop)
    font-size: f.px(15)
    @include m.flex($fd: row, $ai: center)
  @include m.media(tablet, phone)
    @include m.gap($pr: f.px(10))

.strongText
  font-weight: 500
  @include m.gap($mr: f.px(3))

.readTime
  color: #545454
  @include m.gap($ml: f.px(10))
  @include m.media(phone)
    @include m.gap($ml: 3)

.expert
  display: inline-block
  text-align: center
  font-size: f.px(18)
  font-weight: 350
  @include m.gap($plr: f.px(40), $pt: f.px(30), $pb: 0)
  line-height: f.px(20)
  @include m.media(laptop)
    font-size: f.px(16)
