@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.imgBox
  display: flex

.imgTitleContainer
  flex: 0.67
  @include m.media(phone, tablet)
    flex: 1

.articleTitle
  font-size: f.px(65)
  line-height: 110%
  font-weight: 500
  @include m.gap($mt: f.px(17), $mb: f.px(30))
  @include m.media(tablet)
    font-size: f.px(33)
  @include m.media(phone)
    font-size: f.px(30)

.authors
  font-size: f.px(18)
  width: fit-content
  @include m.flex($jc: space-between)
  @include m.media(phone, tablet)
    width: f.px(300)
    flex-direction: column
    font-size: f.px(14)
  p
    @include m.gap($mb: f.px(10))

.tag
  display: inline-block
  @include m.dye(c, c.$purple-800)
  border: f.px(1) solid
  @include m.dye(border, c.$purple-800)
  @include m.gap($mtb: f.px(30), $plr: f.px(17), $ptb: f.px(9))
  border-radius: f.px(24)
  font-size: f.px(18)
  font-weight: 500
  text-transform: uppercase
  letter-spacing: f.px(2)
  @include m.media(phone, tablet)
    font-size: f.px(10)
    @include m.gap($mtb: f.px(35), $plr: f.px(10), $ptb: f.px(5))

.imgTitle
  border-radius: f.px(10)
  object-fit: fill

.imgTeacherWithAchievements
  flex: 0.33
  border: f.px(1) solid
  @include m.dye(border, c.$purple-800)
  border-radius: f.px(10)
  @include m.gap($mb: f.px(4), $ml: f.px(10))
  @include m.flex($jc: flex-start, $ai: center, $fd: column)
  @include m.media(phone, tablet)
    display: none

.imgTeacherContainer
  @include m.gap($mtb: f.px(30))
  @include m.media(laptop)
    @include m.gap($mtb: f.px(20))

.achievements, .teacherName
  text-align: center
  margin: 0 auto
  @include m.gap($mb: f.px(10))

.achievements
  font-size: f.px(20)
  @include m.media(laptop,tablet)
    font-size: f.px(18)

.teacherName
  font-weight: 500
  font-size: f.px(25)

.teacherText
  font-size: f.px(25)
  @include m.flex($ai: flex-start, $fd: column, $jc: center)
  bottom: f.px(30)
  width: f.px(320)
  @include m.media(laptop)
    font-size: f.px(16)

.imgTeacher
  @include m.gap($mb: f.px(10))

.imgForBlog
  object-fit: cover
  border-radius: 50%

.dateAndTime
  @include m.flex($ai: flex-start, $jc: space-between)
  @include m.media(tablet, phone)
    width: f.px(190)
    @include m.gap($pr: f.px(0))

.date
  @include m.gap($pr: f.px(70))
  @include m.media(tablet, phone)
    @include m.gap($pr: f.px(50))

.time
  @include m.gap($mb: f.px(0))
  text-align: center

.author
  @include m.gap($pr: f.px(70))

.strongText
  font-weight: 500
