// possibly use vmin for font-size https://youtu.be/IWFqGsXxJ1E
// right units https://www.youtube.com/watch?v=N5wpD9Ov_To
// svg https://youtu.be/cWh0de8IhX4
// :focus https://youtu.be/Mvu5OMGcdVA

@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

*,
*:before,
*:after
  box-sizing: inherit

html, body
  @include m.media(phone)
    font-size: 1rem
  // font-size: 3vmin
  // font-size: 30px
  // font-size: 1.5rem
  // font-size: 2vw
  @include m.media(tablet)
    font-size: 1.2rem
  @include m.media(laptop)
    font-size: 1.2rem
  @include m.media(desktop)
    font-size: 1.5rem

html
  box-sizing: border-box
  font-family: Stem, sans-serif
  scroll-behavior: smooth

h1
  overflow-wrap: break-word

svg
  width: 100%
  height: 100%

a, button
  cursor: pointer

a, button, div
  -webkit-tap-highlight-color: transparent

a, button, input, textarea, select
  outline: f.px(1) solid transparent
  outline-offset: f.px(-1)
  transition: outline-offset .25s ease-out, outline-color .25s ease-out
  &:focus-visible
    outline-offset: f.px(4)
    @include m.dye(outline, c.$nu)

section
  @include m.gap($pb: f.px(50))
  overflow: hidden
// body
//   background-color: #333

.swiper-container
  overflow: visible

.swiper-slide
  height: auto

.swiper-container-horizontal > .swiper-pagination-bullets
  bottom: f.px(-20)

.swiper-pagination-bullet-active
  background-color: c.$beta
