// Geometria =======================================
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Normal
// 500 Regular
// 600 Medium
// 700 Bold
// 800 Extra Bold
// 900 Heavy

@font-face
  font-display: swap
  font-family: Geometria
  src: local(Geometria), url(/assets/fonts/geometria/Geometria-Bold.eot)
  src: local(Geometria), url(/assets/fonts/geometria/Geometria-Bold.eot?iefix) format('embedded-opentype'), url(/assets/fonts/geometria/Geometria-Bold.ttf) format('truetype'), url(/assets/fonts/geometria/Geometria-Bold.woff) format('woff'), url(/assets/fonts/geometria/Geometria-Bold.woff2) format('woff2')
  font-style: normal
  font-weight: 700

// TTFirsNeue =======================================
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Regular
// 500 Medium
// 600 DemiBold
// 700 Bold
// 800 Extra Bold
// 900 Black

@font-face
  font-display: swap
  font-family: TTFirsNeue
  src: local(TTFirsNeue), url(/assets/fonts/ttfirsneue/TTFirsNeue-Regular.eot)
  src: local(TTFirsNeue), url(/assets/fonts/ttfirsneue/TTFirsNeue-Regular.eot?iefix) format('embedded-opentype'), url(/assets/fonts/ttfirsneue/TTFirsNeue-Regular.ttf) format('truetype'), url(/assets/fonts/ttfirsneue/TTFirsNeue-Regular.woff) format('woff'), url(/assets/fonts/ttfirsneue/TTFirsNeue-Regular.woff2) format('woff2')
  font-style: normal
  font-weight: 400

// Stem =======================================
// 100 Thin
// 200 Extra Light
// 300 Light
// 400 Semi Light
// 500 Medium
// 700 Bold
// 900 Regular

@font-face
  font-display: swap
  font-family: Stem
  src: local(Stem), url(/assets/fonts/stem/Stem-Light.eot)
  src: local(Stem), url(/assets/fonts/stem/Stem-Light.eot?iefix) format('embedded-opentype'), url(/assets/fonts/stem/Stem-Light.ttf) format('truetype'), url(/assets/fonts/stem/Stem-Light.woff) format('woff'), url(/assets/fonts/stem/Stem-Light.woff2) format('woff2')
  font-style: normal
  font-weight: 300

@font-face
  font-display: swap
  font-family: Stem
  src: local(Stem), url(/assets/fonts/stem/Stem-SemiLight.eot)
  src: local(Stem), url(/assets/fonts/stem/Stem-SemiLight.eot?iefix) format('embedded-opentype'), url(/assets/fonts/stem/Stem-SemiLight.ttf) format('truetype'), url(/assets/fonts/stem/Stem-SemiLight.woff) format('woff'), url(/assets/fonts/stem/Stem-SemiLight.woff2) format('woff2')
  font-style: normal
  font-weight: 400

@font-face
  font-display: swap
  font-family: Stem
  src: local(Stem), url(/assets/fonts/stem/Stem-Medium.eot)
  src: local(Stem), url(/assets/fonts/stem/Stem-Medium.eot?iefix) format('embedded-opentype'), url(/assets/fonts/stem/Stem-Medium.ttf) format('truetype'), url(/assets/fonts/stem/Stem-Medium.woff) format('woff'), url(/assets/fonts/stem/Stem-Medium.woff2) format('woff2')
  font-style: normal
  font-weight: 500
