@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: f.px(14)
  border: f.px(1) solid c.$purple-350
  @include m.dye(bg, c.$white-900)
  @include m.gap($p: f.px(15))
  gap: f.px(40)
  @include m.flex($fd: column)
  @include m.media(phone, tablet)
    min-height: f.px(90)
    gap: f.px(15)
    border-radius: f.px(4)
    @include m.gap($ptb: f.px(8), $plr: f.px(6))

.icon
  width: f.px(40)
  height: f.px(40)
  @include m.dye(bg, c.$purple-200)
  @include m.flex($jc: center, $ai: center)
  border-radius: 50%
  @include m.media(phone, tablet)
    @include m.gap($p: f.px(5))
    width: f.px(20)
    height: f.px(20)

.header
  @include m.dye(c, c.$gray-800)
  font-size: f.px(16)
  font-weight: 500
  line-height: 130%
  text-transform: lowercase
  @include m.media(phone, tablet)
    font-size: f.px(8)

.content
  font-size: f.px(22)
  font-weight: 500
  line-height: 130%
  @include m.media(phone, tablet)
    font-size: f.px(10)

.containerNumber
  @include m.dye(bg, c.$white-900)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  gap: f.px(25)
  min-height: f.px(250)
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(15), $plr: f.px(20))
    max-height: f.px(250)
    gap: f.px(20)
    border-radius: f.px(10)

.iconNumber
  width: f.px(50)
  height: f.px(50)
  border: f.px(1) solid c.$purple-350
  @include m.flex($jc: center, $ai: center, $as: flex-end)
  border-radius: 50%

.contentNumber
  font-size: f.px(22)
  max-width: f.px(315)
  @include m.media(phone, tablet)
    max-width: f.px(260)

.looper_1
  background-image: url('/assets/imgs/lectorium/advantages/looper1.svg')

.looper_2
  background-image: url('/assets/imgs/lectorium/advantages/looper2.svg')

.looper_3
  background-image: url('/assets/imgs/lectorium/advantages/looper3.svg')

.looper_4
  background-image: url('/assets/imgs/lectorium/advantages/looper4.svg')

.containerImage
  border-radius: f.px(14)
  border: f.px(1) solid c.$purple-350
  max-height: f.px(250)
  @include m.media(phone, tablet)
    object-fit: cover
    border-radius: f.px(10)

.image
  width: 100%
  height: 100%
  object-fit: cover
  border-radius: f.px(14)
  display: block
  max-height: f.px(250)
  object-position: 0% 60%
  @include m.media(phone, tablet)
    border-radius: f.px(10)

