@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  border-radius: f.px(20)
  @include m.dye(bg, white)
  min-width: f.px(600)
  height: fit-content
  @include m.gap($plr: f.px(30), $pt: f.px(10), $pb: f.px(30))
  @include m.media(phone, tablet)
    min-width: f.px(300)
    @include m.gap($plr: f.px(20), $pb: f.px(20), $pt: f.px(10))
  & .name,
  & .email,
  & .phone
    @include m.media(laptop, desktop)
      @include m.flex($display: false, $fb: 46%)
      @include m.gap($mb: f.px(20))
  & .name,
  & .email
    & input
      @include m.media(laptop, desktop)
        font-size: f.px(16)
        border: f.px(1) solid
        @include m.dye(border, c.$purple-800)
        border-radius: f.px(4)
        background-color: transparent
      @include m.media(phone, tablet)
        @include m.gap($plr: f.px(10))
        font-size: f.px(14)
        border: f.px(1) solid
        @include m.dye(border, c.$purple-800)
        border-radius: f.px(4)
        background-color: transparent
        &::placeholder
          @include m.dye(c, c.$gray-500)

.title
  text-align: center
  font-size: f.px(26)
  font-style: normal
  font-weight: 500
  @include m.gap($mtb: f.px(20))
  @include m.media(phone, tablet)
    font-size: f.px(20)
    @include m.gap($mtb: f.px(20))

.header
  max-width: f.px(500)
  @include m.gap($m: 0 auto)
  @include m.flex($jc: space-around, $ai: center)

.closeButton
  position: absolute
  right: f.px(30)
  border: f.px(0.5) solid
  @include m.dye(border, c.$purple-800)
  border-radius: f.px(4)
  @include m.media(laptop, desktop)
    transform: scale(0.6)
  @include m.media(phone, tablet)
    transform: scale(0.5)
  & > span > button
  @include m.gap($p: f.px(10))
  @include m.dye(c, c.$purple-800)
  @include m.dye(bg, c.$gray-50)

.inpt
  & input,
  & textarea
    width: 100%
    @include m.gap($ptb: f.px(17), $plr: f.px(20))
    border-radius: f.px(4)
    font-weight: 300
    &::placeholder
      @include m.dye(c, c.$gray-700)
  & textarea
    outline: none

.containerInput
  & input
    @include m.gap($ptb: f.px(17), $plr: f.px(20))
    border-radius: f.px(4)
    border-color: #6f01c6 !important
    font-weight: 300
    width: 100% !important
    height: 54px !important
    @include m.media(laptop)
      height: 47px !important
    @include m.media(tablet)
      height: 68px !important
    @include m.media(laptop, desktop)
      font-size: f.px(16)
      border-radius: f.px(4)

.phoneInput,.dropdown
  font-family: Stem !important

.flagButton
  border-color: #6f01c6 !important
  background-color: white !important

.dropdown
  width: 410px !important
  @include m.media(laptop)
    width: 340px !important
  @include m.media(tablet)
    width: 330px !important
  @include m.media(phone)
    width: 270px !important

.err
  @include m.gap($mt: f.px(5))
  @include m.dye(c, red)

.footer
  @include m.flex($fd:column)
  margin-left: f.px(5)
  @include m.media(phone, tablet)
    margin-left: 0

.btnBlock
  @include m.media(laptop, desktop)
    @include m.flex($ai: center, $jc: flex-start)
  @include m.media(phone, tablet)
    @include m.flex($ai: center, $jc: center)

.btn
  padding: f.px(5)
  border-radius: f.px(4)
  @include m.dye(bg, c.$purple-800)
  @include m.dye(c, white)
  @include m.gap($ptb: f.px(17), $plr: f.px(57))
  &:disabled
    cursor: not-allowed
    opacity: .5
    &:hover
      transform: scale(1)
      &::after
        opacity: 0
    &:focus
      transform: scale(1)

.text
  font-weight: 450
  @include m.dye(c, black)

.checkboxBlock > label
  @include m.flex($ai: center)
  font-size: f.px(16)
  font-weight: 350
  gap: f.px(5)
  @include m.gap($mb: f.px(18))
  & > input[type="checkbox"]
    display: grid
    place-content: center
    appearance: none
    @include m.dye(bg, white)
    margin: 0
    font: inherit
    width: 1.15em
    height: 1.15em
    border: 0.1em solid
    @include m.dye(border, c.$purple-800)
    border-radius: 0.15em
    &::before
      content: ""
      width: 0.65em
      height: 0.65em
      transform: scale(0)
      transition: 120ms transform ease-in-out
      box-shadow: inset 1em 1em c.$purple-800
    &:checked::before
      transform: scale(1)
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20))
    font-size: f.px(12)

.info
  height: f.px(55)
  padding: f.px(20)
  @include m.flex($ai: center, $jc: space-between)
  @include m.gap($mb: f.px(20))
  border-radius: f.px(4)
  border: f.px(1) solid
  @include m.dye(border, c.$purple-800)
  @include m.media(phone, tablet)
    padding: f.px(10)
  & > span
    font-family: Stem
    font-size: f.px(14)
    font-style: normal
    font-weight: 300
    line-height: 120%
    @include m.media(phone, tablet)
      font-size: f.px(12)

.buttons
  @include m.flex($ai: center, $jc: space-between)
  @include m.media(phone, tablet)
    @include m.flex($fd: column)
  & > button
    width: 48%
    font-size: f.px(18)
    @include m.media(phone, tablet)
      @include m.gap($mb: f.px(10))
      font-size: f.px(14)

.checkError
  font-size: f.px(16)
  font-weight: 400
  @include m.dye(c, red)
  @include m.gap($ptb: f.px(10), $mb: f.px(0))
  & > *
    color: black
    &:hover
      @include m.dye(c, c.$purple-800)
