@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex($jc: center, $fd: column)
  & .name,
  & .email,
  & .phone
    @include m.media(laptop, desktop)
      @include m.flex($display: false, $fb: 46%)
  & .name,
  & .email
    & input
      @include m.media(laptop, desktop)
        font-size: f.px(16)
        border-radius: f.px(4)
        background-color: transparent
        border-bottom: none
      @include m.media(phone, tablet)
        font-size: f.px(16)
        border-radius: f.px(4)
        background-color: transparent
        border-bottom: none
        &::placeholder
          @include m.dye(c, c.$gray-500)
      &:focus-visible
        border-top: none
        border-right: none
        border-left: none


.group
  @include m.flex($fd: column)
  @include m.gap($mb: f.px(15))
  @include m.media(laptop, desktop)
    gap: f.px(15)
  @include m.media(phone, tablet)
    gap: f.px(10)
  

.inpt
  @include m.dye(bg, c.$purple-100)
  border-radius: f.px(14)
  @include m.gap($pt: f.px(15), $pl: f.px(20))
  & input,
  & textarea
    width: 100%
    @include m.gap($ptb: f.px(17))
    font-size: f.px(18)
    font-weight: 350
    border-radius: f.px(4)
    @include m.media(phone, tablet)
      @include m.gap($ptb: f.px(10))
    &::placeholder
      @include m.dye(c, c.$gray-800)
      @include m.media(phone, tablet)
        font-size: f.px(16)
  & textarea
    outline: none
    background-color: c.$purple-100 !important



.containerInput
  & input
    border-radius: f.px(4)
    font-weight: 300
    width: 100% !important
    height: 54px !important
    background-color: transparent !important
    border: none !important
    @include m.media(laptop)
      height: 47px !important
    @include m.media(tablet)
      height: 68px !important
    @include m.media(laptop, desktop)
      font-size: f.px(16)
      border-radius: f.px(4)

.phoneInput
  font-family: Stem !important
  background-color: transparent !important

.flagButton
  border-color: transparent !important
  background-color: transparent !important

.dropdown
  background: white !important
  width: 240px !important
  @include m.media(laptop)
    width: 190px !important
  @include m.media(tablet)
    width: 350px !important
  @include m.media(phone)
    width: 300px !important

.err
  @include m.gap($mt: f.px(5))
  @include m.dye(c, red)

.btn
  text-transform: uppercase
  padding: f.px(5)
  border-radius: f.px(10)
  @include m.dye(bg, c.$purple-800)
  width: 100%
  font-size: f.px(18)
  font-weight: 500
  @include m.dye(c, white)
  @include m.gap($ptb: f.px(17), $plr: f.px(57))
  &:disabled
    cursor: not-allowed
    opacity: .5
    &:hover
      transform: scale(1)
      &::after
        opacity: 0
    &:focus
      transform: scale(1)
  @include m.media(phone, tablet)
    font-size: f.px(18)
    border-radius: f.px(5)

.text
  font-weight: 450
  @include m.dye(c, black)

.green
  @include m.dye(bg, c.$green-300)
  & > span > svg > rect
    fill: inherit

.placeholder
  @include m.gap($mb: f.px(0))
  font-size: f.px(14)
  font-weight: 500
  @include m.dye(c, c.$purple-800)
