@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container


.title
  display: inline-block
  font-size: f.px(46)
  text-transform: uppercase
  font-weight: 350
  @include m.gap($mb: f.px(10))
  @include m.media(phone, tablet)
    font-size: f.px(32)
    @include m.gap($mb: f.px(20))

.list
  // display: grid
  // grid-template-columns: repeat(3, 1fr)
  // gap: f.px(30)
  padding-left: 0
  display: flex
  justify-content: center
  align-items: center
  place-items: center

.imageWrapper
  position: relative
  border: f.px(1) solid c.$purple-800
  @include m.dye(bg, c.$purple-150)
  border-radius: f.px(10)
  min-height: f.px(360)
  overflow: hidden
  @include m.media(phone, tablet)
    min-height: f.px(330)

.supervisor
  list-style: none
  flex-basis: 33%
  @include m.media(phone, tablet)
    flex-basis: 100%

.image
  object-fit: cover
  object-position: center

.name
  font-size: f.px(20)
  font-weight: 350
  text-transform: uppercase
  text-align: center
  @include m.gap($mtb: f.px(15))
  @include m.media(phone, tablet)
    font-size: f.px(17)

.position
  font-size: f.px(16)
  font-weight: 350
  border-right: f.px(1) solid c.$purple-800
  border-left: f.px(1) solid c.$purple-800
  border-radius: f.px(5)
  min-height: f.px(50)
  @include m.flex($jc: center, $ai: center)
  flex-direction: column
  text-align: center
  @include m.media(phone, tablet)
    font-size: f.px(14)

.cards
  margin-bottom: f.px(40)