@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.sizeIcon($w: 20, $h: 20)
  @include m.flex

  &.calpha
    border-radius: 50%
    @include m.dye(bg, c.$white-900)
    & path
      @include m.dye(stroke, c.$purple-800)
    & rect
      @include m.dye(stroke, c.$white-900)

  &.inverse
    border-radius: 50%
    @include m.dye(bg, c.$orange-700)
    & path
      @include m.dye(stroke, c.$white-900)
    & rect
      @include m.dye(stroke, c.$orange-700)

  &.violetRound
    border-radius: 50%
    @include m.media(laptop, desktop)
      @include m.dye(bg, c.$orange-700)
      & path
        @include m.dye(stroke, c.$white-900)
      & rect
        @include m.dye(stroke, c.$orange-700)
    @include m.media(phone, tablet)
      @include m.dye(bg, #FBF4FF)
      & path
        @include m.dye(stroke, #6F01C6)
      & rect
        @include m.dye(stroke, #6F01C6)

  &.violetItems
    @include m.sizeIcon($w: 40, $h: 40)
    @include m.media(phone, tablet)
      @include m.sizeIcon($w: 27, $h: 27)
      padding-top: 0
      border-radius: 50%
    @include m.dye(bg, #FBF4FF)
    & path
      @include m.dye(stroke, #6F01C6)
      stroke-width: f.px(0.8)
    & rect
      @include m.dye(stroke, #6F01C6)

  &.onMain
    @include m.sizeIcon($w: 45, $h: 45)
    border-radius: 50%
    @include m.dye(bg, #ffffff)
    & path
      @include m.dye(stroke, #6F01C6)
      stroke-width: f.px(0.8)
      @include m.media(phone, tablet)
        stroke-width: f.px(0.5)
    & rect
      stroke-width: f.px(0.8)
      @include m.media(phone, tablet)
        stroke-width: f.px(0.5)
      @include m.dye(stroke, #6F01C6)

  &.distanceItem
    @include m.sizeIcon($w: 25, $h: 25)
    @include m.media(phone, tablet)
      @include m.sizeIcon($w: 20, $h: 20)
    @include m.dye(bg, transparent)
    & path
      @include m.dye(stroke, #6F01C6)
      @include m.media(phone, tablet)
    & rect
      @include m.dye(stroke, #6F01C6)
      stroke-width: f.px(0.9)
      @include m.media(phone, tablet)
        stroke-width: f.px(0.9)

  &.programItem
    @include m.sizeIcon($w: 37, $h: 37)
    border-radius: 50%
    @include m.dye(bg, #ffffff)
    & path
      @include m.dye(stroke, #6F01C6)
      stroke-width: f.px(0.8)
      @include m.media(phone, tablet)
        stroke-width: f.px(0.5)
    & rect
      @include m.dye(stroke, #6F01C6)
      stroke-width: f.px(0.5)
      @include m.media(phone, tablet)
        stroke-width: f.px(0.5)
    @include m.media(phone, tablet)
      @include m.sizeIcon($w: 25, $h: 25)
