@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.sizeIcon($w: 20, $h: 20)
  @include m.flex
  cursor: pointer
  &:hover
    & path
      stroke: #F87E1B
  & stroke
    @include m.dye(stroke, c.$white-900)
  & path
    stroke: #808080

.calpha
  @include m.sizeIcon($w: 15, $h: 15)
  &:hover
    & path
      stroke: #6F01C6
  & path
    @include m.dye(stroke, c.$purple-800)
    stroke-width: f.px(1.1)
    @include m.media(phone, tablet)
      stroke-width: f.px(0.5)
  & rect
    @include m.dye(stroke, c.$purple-800)
    stroke-width: f.px(0.5)
    @include m.media(phone, tablet)
      stroke-width: f.px(0.5)

.yellow
  @include m.sizeIcon($w: 15, $h: 15)
  & path

    stroke: #F87E1B
    stroke-width: f.px(2)

.white
  & path
    @include m.dye(stroke, c.$white-900)