@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.flex
  @include m.sizeIcon($w: 31, $h: 31)

.orange
  @include m.sizeIcon($w: 44, $h: 44)
  svg
    padding: 0
  path
    fill: #F87E1B

.orangeEmpty
  @include m.sizeIcon($w: 30, $h: 30)
  @include m.media(phone, tablet)
    @include m.sizeIcon($w: 20, $h: 20)
  svg
    padding: 0
  path
    stroke: #F87E1B
    fill: none
