@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.inp
  background: #FFF3ED
  @include m.gap($ptb: f.px(20), $pl: f.px(28))
  width: f.px(470)
  border-radius: f.px(4)
  @include m.media(phone, tablet)
    width: 100%
    @include m.gap($ptb: f.px(15), $pl: f.px(19))
    font-size: f.px(14)

.filtersWithTags
  display: flex
  justify-content: space-between
  align-items: flex-end
  gap: f.px(20)
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    @include m.gap($mb: f.px(20))
    flex-direction: column-reverse
    align-items: flex-start

.filtersWithInput
  width: 100%
  display: flex
  justify-content: flex-end

.tags
  display: flex
  column-gap: f.px(14)
  row-gap: f.px(10)
  @include m.media(phone, tablet)
    flex-wrap: wrap
    column-gap: f.px(14)
    row-gap: f.px(10)
