@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.groupCard
  border-bottom: 1px solid c.$gray-700
  @include m.gap($mb: f.px(24))
  @include m.media(phone, tablet)
    @include m.gap($mt: f.px(24))

.scheduleItem
  @include m.flex($jc: space-around)
  font-size: f.px(20)
  color: c.$black-900
  font-style: normal
  font-weight: 350
  line-height: 120%
  letter-spacing: -0.2px

  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mb: f.px(15))

.boldText
  font-weight: 500
