.btn-
  outline-color: currentcolor
  -webkit-tap-highlight-color: transparent
  cursor: pointer
  // &:focus-visible,
  // &:hover
  //   transform: scale(1.02)
  &:active
    transform: scale(0.98)

.btn-sm
  @include flex(center, center)
  padding: px(15)
  border: px(1) solid
  @include dye(border-c, $c-xi)
  border-radius: px(4)

.btn-alpha
  @include flex(center)
  max-width: px(168)
  padding: px(16) px(28)
  border-radius: px(2)
  @include dye(bg-color, rgba($c-omicron, 0.4))
  // &:focus-visible
  //   box-shadow: 0px 0.625rem 3rem rgba(#000, 0.2)

// Btn ripples
.btn-ripples
  position: relative
  overflow: hidden

.btn-ripples__circle
  width: px(60)
  height: px(60)
  position: absolute
  top: px(27)
  left: px(82)
  border-radius: 50%
  transform: translate(-50%, -50%) scale(0)
  animation-name: btn-circle-scale
  animation-duration: 0.5s
  animation-timing-function: ease-out
  @include dye(bg-color, $c-nu)

.btn-sm
  & .btn-ripples__circle
    width: px(35)
    height: px(35)
