.circle
  margin: 0 auto
  max-width: px(610)
  position: relative

  & .circle__body
    padding-top: 100%
    border-radius: 50%
    @include dye(bg-color, $c-beta)
    @include dye(color, $c-nu)

  & .body__part
    position: absolute
    & h4
      margin: 0 0 px(3) 0
    & p
      margin: 0

  & .body__top
    max-width: px(116)
    top: px(24)
    left: 50%
    transform: translateX(-50%)

  & .body__right
    max-width: px(86)
    top: 50%
    right: px(24)
    transform: translateY(-50%)

  & .body__bottom
    max-width: px(109)
    bottom: px(24)
    left: 50%
    transform: translateX(-50%)

  & .body__left
    max-width: px(89)
    top: 50%
    left: px(24)
    transform: translateY(-50%)

  & .body__center
    padding: px(16)
    border-radius: 50%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    @include dye(bg-color, $c-nu)
