.icon-
  @include flex(center, center)

.mob-nav__hum
  width: px(35)
  & .hum__line
    width: 100%
    height: px(2)
    border-radius: px(4)
    @include dye(bg-color, $c-nu)
    &:not(:nth-last-child(1))
      margin-bottom: px(9)

.close-btn
  position: relative
  opacity: 0.7
  width: px(35)
  height: px(2)
  & span
    display: block
    position: absolute
    top: 0
    left: 0
    @include dye(bg-color, $c-nu)
    &:nth-child(1)
      width: px(35)
      height: px(2)
      transform: rotate(45deg)
    &:nth-child(2)
      width: px(35)
      height: px(2)
      transform: rotate(-45deg)

.icon-sm
  min-width: px(20)

// Only used in desktop
.two-lanes-icon
  & span
    display: block
    @include dye(bg-color, $c-nu)
    &:nth-child(1)
      width: px(20)
      height: px(2)
      margin-bottom: px(7)
    &:nth-child(2)
      width: px(10)
      height: px(2)
