.section-reasons
  & .list-group__item
    @include flex()
  & .item__img
    @include flex(center, center)
    min-width: px(90)
    min-height: px(90)
    margin-right: px(20)
  & .text__title
    margin-bottom: 0
  & .text__p
    margin: px(9) 0 0 0
