.section-benefits
  margin-top: px(-246)

  & .list-group
    padding: px(22) px(10) px(22) px(15)
    box-shadow: 0 px(7) px(100) rgba(0, 0, 0, 0.09)
    border-radius: px(25) 0 0 0
    @include dye(bg-color, $c-nu)
  & .list-group__item
    @include flex($align-items: center)
    &:not(:nth-last-child(1))
      margin-bottom: px(8)
  & .item__icon
    width: px(20)
    height: px(20)
    margin-right: px(15)
    border: px(1) solid
    @include dye(border-c, $c-pi)
    border-radius: px(51)
  & .text__p
    margin: 0
