.first-section
  padding-bottom: px(181)
  @include dye(bg-color, $c-alpha)
  @include dye(color, $c-nu)

  & .ellipse-mobile
    position: absolute
    top: px(20)
    right: 0

  & .heading__title
    margin-top: px(20)
    margin-bottom: px(10)

  & .heading__subtitle
    margin-top: 0
    margin-bottom: px(20)

  & .right
    & img.mobile-only
      border-radius: px(50) 0 0 0
