.section-programs
  & .programs-block__title
    & .title__heading
      margin-top: px(13)
      margin-bottom: px(8)
    & .title__subtitle
      margin-top: 0
      @include dye(color, $c-kappa)

  & .programs__program
    @include flex()
    padding: px(15)
    border-radius: px(10)
    box-shadow: 0 px(4) px(40) rgba(0, 0, 0, 0.05)
    @include dye(bg-color, $c-nu)

    &:not(:nth-last-child(1))
      margin-bottom: px(10)

  & .program__img
    max-height: px(89)
    border-radius: px(5)
