@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.card
  @include m.flex($fd: column, $jc: space-between)
  border: 1px solid c.$purple-350
  @include m.dye(bg, c.$white-900)
  @include m.gap($ptb: f.px(20), $plr: f.px(24))
  border-radius: f.px(5)
  min-height: f.px(430)
  @include m.media(phone, tablet)
    @include m.gap($p: f.px(20))

.header
  @include m.flex($jc: space-between)

.title
  @include m.gap($mb: f.px(7))
  font-size: f.px(16)
  font-weight: 500
  color: c.$gray-550
  @include m.media(phone, tablet)
    font-size: f.px(12)

.subtitle
  font-weight: 500
  font-size: f.px(18)
  @include m.media(phone, tablet)
    font-size: f.px(16)

.format
  @include m.dye(c, c.$purple-800)
  @include m.media(phone, tablet)
    color: black

.row
  @include m.flex($jc: space-between)
  @include m.media(phone, tablet)
    flex-direction: column

.subtitleBig
  max-width: f.px(290)
  font-weight: 500
  font-size: f.px(20)
  @include m.gap($mb: f.px(20))
  @include m.media(phone, tablet)
    font-size: f.px(16)

.bell
  @include m.flex($jc: center, $ai: center)
  border-radius: 50%
  width: f.px(46)
  height: f.px(46)
  @include m.dye(bg, c.$purple-800)
  @include m.media(phone, tablet)
    width: f.px(30)
    height: f.px(30)

.image
  object-fit: contain
  @include m.gap($mb: f.px(20))
  border-radius: f.px(50)
  border: 0.578px solid #FFF
  @include m.dye(bg, c.$gray-500)
  @include m.media(phone, tablet)
    border-radius: f.px(20)

.footer
  @include m.flex($fd: column)
  gap: f.px(15)
  @include m.media(phone, tablet)
    gap: f.px(10)

.button-base
  border-radius: f.px(50)
  border: f.px(1) solid
  background-color: transparent
  @include m.gap($ptb: f.px(16), $plr: f.px(53))
  font-size: f.px(18)
  width: 100%
  &::after
    display: none
  @include m.media(phone, tablet)
    border-radius: f.px(30)
    @include m.gap($ptb: f.px(16), $plr: f.px(0))
    font-size: f.px(16)

.participate > button
  @extend .button-base
  color: c.$orange-700

.btn 
  border-color: c.$purple-800
  @include m.dye(bg, c.$purple-800)
  color: c.$white-900
  @include m.gap($ptb: f.px(16))
  border-radius: f.px(47)

.completed
  font-size: f.px(20)
  font-weight: 500
  align-self: center
  @include m.dye(c, c.$purple-200)
  @include m.media(phone, tablet)
    font-size: f.px(14)

.cardText
  color: black !important 
  &:visited,
  &:hover,
  &:active,
  &:focus
    color: black !important

