@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.question
  @include m.flex($ai: center, $jc: flex-start)
  gap: f.px(120)
  margin-bottom: 0
  text-align: left
  @include m.media(phone, tablet)
    gap: f.px(0)

.questionNumber
  font-size: f.px(18)
  font-weight: 500
  @include m.media(phone, tablet)
    display: none

.questionText
  font-size: f.px(22)
  font-weight: 500
  // width: 100%
  // max-width: 80%

.content
  @include m.gap($pl: f.px(100))
  @include m.flex($ai: center)
  gap: f.px(10)
  @include m.media(phone, tablet)
    @include m.gap($pl: 0)
    max-width: f.px(230)
    margin-left: 0

.textContent
  margin-bottom: 0

.itemProps
  border-radius: f.px(14)
  border: f.px(1) solid c.$purple-350
  @include m.gap($pt: f.px(30), $plr: f.px(20), $pb: f.px(20))
  @include m.media(phone, tablet)
    text-align: left
    border-radius: f.px(4)
    @include m.gap($pt: f.px(15), $pl: f.px(10), $pb: f.px(10), $pr: f.px(5))
    & > div
      margin-left: 0

.iconProps
  @include m.dye(bg, c.$purple-350)
  border-radius: 50%
  padding: f.px(10)
  margin-right: 0
  & > span
    width: f.px(15)
    & > svg > *
      stroke: white
      stroke-width: 3
  @include m.media(phone, tablet)
    transform: scale(.5)
    margin-right: 0 !important

.reversedHeaderProps
  @include m.flex($jc: space-between, $fd: row-reverse)
  @include m.media(phone, tablet)
    text-align: left
    gap: f.px(5)

