@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.wrapper
  margin-top: 27px
  display: flex
  flex-direction: column
  align-items: center
  font-size: 16px
  font-weight: 500
  & h3
    margin: 1px

.btn
  font-size: 18px
  font-weight: 500
  color: white
  margin-top: 30px
  @include m.gap($ptb: f.px(27), $plr: f.px(130))
  background: #F87E1B