.dropdownMenu 
  position: relative

.menu 
  top: 0
  left: 0
  width: 100px
  background: white
  color: red
  position: absolute
  height: fit-content
  width: fit-content
  z-index: 1000


// .menuItem 



