.dropdownMenu 
  position: relative

.menu 
  top: 20px
  left: -100px
  width: 200px
  background: white
  color: red
  position: absolute
  height: fit-content
  width: fit-content
  z-index: 1000


// .menuItem 



