@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  // margin-left: 30px
  @include m.gap($ml: f.px(30), $mtb: f.px(20))

.wrapper
  display: flex
  align-items: center
  @include m.gap($mb: f.px(10))

.title
  @include m.gap($pl: f.px(20))
  margin: 0
  font-weight: 500

.description
  margin-left: 45px

.contacts
  font-size: 14px
  @include m.gap($pl: f.px(20))
  color: black
  margin: 0
  font-weight: 500
  font-weight: 500
  text-decoration-line: underline