@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  @include m.gap($ml: f.px(30), $mtb: f.px(30))
  font-size: f.px(14)

.wrapper
  display: flex
  align-items: center
  @include m.gap($mb: f.px(10))

.title
  @include m.gap($pl: f.px(20))
  margin: 0
  font-weight: 500

.description
  @include m.gap($ml: f.px(45))

.contacts
  display: inline-block
  font-size: f.px(16)
  font-weight: 350
  @include m.dye(c, c.$orange-900)
  @include m.gap($ptb: f.px(13), $plr: f.px(110), $mlr: f.px(10), $mt: f.px(20))
  border-radius: f.px(5)
  border: 2px solid c.$orange-900
  transition: background 0.5s ease, color 0.5s ease
  &:hover
    @include m.dye(bg, c.$orange-900)
    @include m.dye(c, c.$white-900)
