@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.wrapper
  @include m.gap($mtb: f.px(27))
  @include m.flex($fd: column, $ai: center)
  font-size: f.px(14)
  & p
    font-weight: 500

.icon
  @include m.gap($mt: f.px(27))
  width: 100%
  display: flex
  justify-content: center
  &:hover
    fill: orange
