@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.container
  p
    font-weight: 500

.content
  display: flex
  flex-direction: column
  align-items: center

.subtitle, .title
  color: white

.title
  font-size: f.px(44)
  font-weight: 500
  @include m.gap($mb: f.px(30), $pt: f.px(60))

.subtitle
  font-size: f.px(20)
  font-weight: 500
  @include m.gap($pb: f.px(28))

.medalionContainer
  display: flex
  position: relative
  justify-content: center
  @include m.gap($mb: f.px(70))

.medalion, .medalionAbs
  position: relative
  flex: 1 1 auto
  background: white
  border-radius: f.px(50)
  border: 1px dashed #5C374C
  height: f.px(109)
  display: flex
  align-items: center
  justify-content: center
  p
    font-size: f.px(14)
    max-width: f.px(180)
    @include m.gap($ml: f.px(54), $mr: f.px(34))

.medalionAbs
  position: absolute
  right: 0
  height: f.px(109)
  top: f.px(-100)
  transform: rotate(15.123deg)

.circle
  position: absolute
  width: 16px
  height: 16px
  border: 1px dashed #5C374C
  border-radius: f.px(50)
  left: 10px

.medalion
  margin-left: f.px(-30)
  &:nth-child(1)
    margin-left: f.px(0)
  p
    @include m.gap( $mb: f.px(0))
