@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.img
  border-radius: f.px(10)
  display: block
  max-height: f.px(321)
  @include m.media(phone, tablet)
    border-radius: f.px(5)
    min-height: f.px(220)

.text
  @include m.gap($p: f.px(30))
  @include m.dye(bg, c.$purple-200)
  background: url('/assets/imgs/lectorium/waves.png')
  border-radius: f.px(10)
  @include m.media(phone, tablet)
    border-radius: f.px(5)
    @include m.gap($ptb: f.px(35), $plr: f.px(15))

.title
  display: inline-block
  font-size: f.px(36)
  font-style: normal
  text-transform: uppercase
  font-weight: 500
  @include m.media(laptop)
  max-width: f.px(570)
  @include m.gap($mb: f.px(25))
  @include m.media(phone, tablet)
    font-size: f.px(26)
    @include m.gap($mb: f.px(10))

.description
  font-size: f.px(20)
  font-weight: 350
  line-height: 130%
  max-width: f.px(290)
  @include m.media(phone, tablet)
    font-size: f.px(16)
    max-width: f.px(240)

.bold
  font-weight: 500

.btn > div > button
  border-radius: f.px(10)
  @include m.gap($plr: f.px(70), $ptb: f.px(15))
  @include m.media(phone, tablet)
    border-radius: f.px(0)
