@use '@/styles/utils/mixin' as m
@use '@/styles/utils/funcs' as f
@use '@/styles/themes/default/colors' as c

.section
  @include m.gap($mb: f.px(30))
  
.container
  display: flex
  gap: 20px
  @include m.media(phone, tablet)
    flex-direction: column-reverse

.text
  @include m.gap($ptb: f.px(30),$plr: f.px(18))
  @include m.dye(bg, c.$purple-100)
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='470' height='411' viewBox='0 0 470 411' fill='none'%3E%3Cpath d='M183.561 -68.107C103.293 -136.63 -71.5906 -0.959215 -149 75.4425C179.839 -149.161 -11.9833 231.945 -149 450.574L-81.841 450.574C160.904 250.08 213.499 367.035 209.454 450.574L470 450.574C446.049 122.552 140.136 244.635 -9.82699 346.679C88.0816 236.969 263.829 0.41496 183.561 -68.107Z' fill='%23855EDF' fill-opacity='0.05'/%3E%3C/svg%3E")
  background-size: cover
  background-position: center
  color: c.$purple-800
  height: 100%
  border-radius: f.px(10)
  @include m.media(phone, tablet)
    border-radius: f.px(5)
    @include m.gap($ptb: f.px(35), $plr: f.px(15))


.title
  font-size: f.px(28)
  font-style: normal
  font-weight: 500
  @include m.gap($mb: f.px(12))
  @include m.media(phone, tablet)
    font-size: f.px(20)
    @include m.gap($mb: f.px(10))

.description
  font-size: f.px(20)
  font-weight: 350
  line-height: 120%
  max-width: 430px
  @include m.gap($mb: f.px(30))
  @include m.media(phone, tablet)
    font-size: f.px(15)
    @include m.gap($mb: f.px(22))
margin
.buttomDescription
  font-size: f.px(16)
  font-weight: 350
  line-height: 120%
  @include m.gap($mb: f.px(12))
  @include m.media(phone, tablet)
    font-size: f.px(15)

.btn
  padding: f.px(5)
  border-radius: f.px(5)
  @include m.dye(bg, c.$purple-800)
  width: 100%
  font-size: f.px(18)
  font-weight: 500
  @include m.dye(c, white)
  @include m.gap($ptb: f.px(17))
  &:disabled
    cursor: not-allowed
    opacity: .5
    &:hover
      transform: scale(1)
      &::after
        opacity: 0
    &:focus
      transform: scale(1)
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(14))
    font-size: f.px(15)
    border-radius: f.px(5)

.img
  flex: 1
  max-width: 50%
  object-fit: cover
  border-radius: f.px(10)
  max-height: f.px(321)
  @include m.media(phone, tablet)
    border-radius: f.px(5)
    min-height: f.px(220)
    max-width: 100%
