@use '../../../../../styles/utils/mixin/index' as m
@use '../../../../../styles/utils/funcs/index' as f
@use '../../../../../styles/themes/default/colors' as c

.container
  @include m.gap($pt: f.px(40))
  @include m.media(phone, tablet)
    @include m.gap($pt: f.px(30))

.title
  font-size: f.px(86)
  font-weight: 500
  text-transform: uppercase
  @include m.gap($mb: f.px(10))
  @include m.media(phone, tablet)
    font-size: f.px(38)
    font-weight: 500

.imageBlock
  position: relative
  & > picture >img
    border-radius: f.px(15)
    @include m.media(phone, tablet)
      border-radius: f.px(10)
      min-height: f.px(200)
      object-fit: cover
  & > ul
    margin-top: f.px(-40)
    position: relative
    z-index: 1
    @include m.media(phone, tablet)
      margin-top: f.px(-10)

.btn > div > button
  @include m.gap($ptb: f.px(20))
  width: 100%
  font-size: f.px(22)
  border-radius: f.px(7)
  text-transform: uppercase
  @include m.media(phone, tablet)
    @include m.gap($ptb: f.px(15))
    border-radius: f.px(4)
    font-size: f.px(16)
  &::after
    display: none
  &:hover
    transform: scale(.99)